<form [formGroup]="form">
  <div class="global_input_block">
    <ion-input label="Enter Tractor Name" fill="outline" labelPlacement="stacked" type="text" placeholder="Your name"
    formControlName="name"></ion-input>
  </div>
  <div class="global_input_block">
    <ion-input label="Enter TF Code" fill="outline" labelPlacement="stacked" type="text" formControlName="registractionNo"></ion-input>
  </div>
  <div class="global_input_block">
    <ion-input label="Enter Hours" fill="outline" labelPlacement="stacked" type="text" formControlName="hours"></ion-input>
  </div>
  <div class="global_input_block">
    <ion-input label="Dealer Price" fill="outline" labelPlacement="stacked" type="number" formControlName="dealerPrice"></ion-input>
  </div>
  <div class="global_input_block" *ngIf="yearArray?.length">
    <ion-select formControlName="yearOfManufactoring" fill="outline" label="Manufactoring" label-placement="type">
      <ion-select-option *ngFor="let year of yearArray" [value]="year">{{year}}</ion-select-option>
    </ion-select>
  </div>
  <!-- <ion-item class="bottom-margin">
      <ion-input
        label="Enter Hours"
        labelPlacement="stacked"
        type="text"
       
      formControlName="price"
      ></ion-input>
    </ion-item> -->
</form>