.icon-size{
    font-size: 50px;
    position: relative;
    left: 36%;
    top:5px;
}
.card-width{
    width: 49%;
}
.title-style{
    font-size: 15px;
    font-weight: 700;
    position: relative;
    left: 19%;

}
.sub-title-style{
    font-size: 15px;
    font-weight: 700;
    position: relative;
    left: 48%;

}