.icon-size{
    font-size: 50px;
    position: relative;
    
    top:5px;
}
.block{
    text-align: center;
}
.card-width{
    width: 49%;
}
.title-style{
    font-size: 15px;
    font-weight: 700;
    position: relative;


}
.sub-title-style{
    font-size: 15px;
    font-weight: 700;
    position: relative;
   

}