<ion-header>
  <ion-toolbar>
    <ion-title>Sync Mainatainance</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>
<ion-content class="internal_card_container">

  <ion-button (click)="addJob()" class="global_submit_button" expand="block">
    <ion-icon name="add-outline" ></ion-icon>
    Add Job</ion-button>
    <span class="inner-heading-list">Added Job List</span>
    <!-- <ion-grid class="main_block_details">
      <ion-card>
        <ion-row>
          <ion-col>1</ion-col>

        </ion-row>
        <ion-row>
          
          <ion-col>TF Code</ion-col>
          <ion-col class="amount_col"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Created</ion-col>
          <ion-col class="amount_col"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Closed Date</ion-col>
          <ion-col class="amount_col"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Bill Amount</ion-col>
          <ion-col class="amount_col"> </ion-col>
        </ion-row>
      </ion-card>
      </ion-grid>

      <ion-grid class="main_block_details">
        <ion-card>
          <ion-row>
            <ion-col>2</ion-col>
 
          </ion-row>
          <ion-row>
          
            <ion-col>TF Code</ion-col>
            <ion-col class="amount_col"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Created</ion-col>
            <ion-col class="amount_col"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Closed Date</ion-col>
            <ion-col class="amount_col"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Bill Amount</ion-col>
            <ion-col class="amount_col"> </ion-col>
          </ion-row>
        </ion-card>
        </ion-grid> -->
<div class="no-data-block">
        <img class="image-no-data" src="././assets/images/no-data-found.png" />
      </div>

</ion-content>