<ion-content class="ion-padding internal_card_container" [ngClass]="listColorClass">
  <div class="bottom_small_popup">
    <div class="global_input_block">
      <ion-input label="Enter Current Show Room Price" fill="outline" [(ngModel)]="currentPrice" type="number"
        labelPlacement="stacked"></ion-input>
    </div>
    <div class="page_submit_btn">
      <ion-button (click)="updatePrice()" class="global_submit_color_button dynamic_bgcolor">
        Update</ion-button>
    </div>
  </div>
</ion-content>