<ion-header>  
  <ion-toolbar>  
    <ion-title *ngIf="!data">Add Payment</ion-title>
    <ion-title *ngIf="data">Update Payment</ion-title>
    
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size"  (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>  
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>Total Amount</ion-col>
      <ion-col>₹ {{dealearPrice}}</ion-col>
  
    </ion-row>
    <ion-row>
      <ion-col>Payment done</ion-col>
      <ion-col>₹ {{totalPaymentDone}}</ion-col>
  
    </ion-row>
    <ion-row>
      <ion-col>Remaining Payment</ion-col>
      <ion-col>₹ {{tractorDetails?.dealerPrice-totalPaymentDone}}</ion-col>
  
    </ion-row>
    </ion-grid>
<form [formGroup]="form">
  <ion-item class="bottom-margin">
    <ion-input
      label="Transaction Head"
      labelPlacement="stacked"
      type="text"
    
    formControlName="transaction_head"
    ></ion-input>
  </ion-item>
  <ion-item class="bottom-margin">
    <ion-input
      label="Amount"
      labelPlacement="stacked"
      type="number"
    
    formControlName="amount"
    ></ion-input>
  </ion-item>
  <ion-item class="bottom-margin">
    <ion-input
      label="Date"
      labelPlacement="stacked"
      type="date"
    
    formControlName="transaction_date"
    ></ion-input>
  </ion-item>
  <div class="login-button">

    <ion-button (click)="addTransaction()"  style="text-align: center;" expand="block" >Save</ion-button>

  </div>

</form></ion-content>
