
<app-common-header


class="app_common_header"
[isListFilter]="false"

[listColorClass]="listColorClass"
[title]="'Assign Store'"

[list]="storeAlloted"
[showWareHouse]="false"
[headerDisplayArray]="headerDisplayArray"
(actionEventHeader)="actionEventHeader($event)"
></app-common-header>
<ion-content class="ion-padding">
<app-head-listing [listColorClass]="listColorClass"  *ngIf="storeAlloted?.length" [buttonArray]="buttonArray" [list]="storeAlloted" [search]="search" (actionEventCall)="actionEventCall($event)" [searchKey]="'name'"></app-head-listing>
  <app-no-data-view  [ngClass]="listColorClass" *ngIf="!storeAlloted?.length && !share?.globalLoading"></app-no-data-view>
</ion-content>