<ion-tabs class="footer_tabs">
  <ion-tab-bar class="bottom_footer_row" slot="bottom">
    <!-- <ion-tab-button tab="home">
          <ion-icon name="play-circle"></ion-icon>
          Listen Now
        </ion-tab-button> -->
    <ion-tab-button (click)="goToPage('Customer')" tab="Customer">
      <ion-icon *ngIf="selectedTab!=='Customer'" class="theme-color" name="people-outline"></ion-icon>
      <ion-icon *ngIf="selectedTab==='Customer'" class="theme-color" name="people"></ion-icon>
      <label class="footer_text" [ngClass]="{'selected_tabs': selectedTab === 'Customer'}">
        <span class="inner_text">Customer</span></label>
    </ion-tab-button>
    <ion-tab-button (click)="goToPage('Follow-Up')" tab="Follow-Up">
      <ion-icon *ngIf="selectedTab==='Follow-Up'" class="theme-color" name="bookmarks"></ion-icon>
      <ion-icon *ngIf="selectedTab!=='Follow-Up'" class="theme-color" name="bookmarks-outline"></ion-icon>
      <label class="footer_text" [ngClass]="{'selected_tabs': selectedTab === 'Follow-Up'}">
        <span class="inner_text">Review</span></label>
    </ion-tab-button>
    <ion-tab-button (click)="goToPage('Visitng')" tab="Follow-Up">
      <ion-icon *ngIf="selectedTab==='Visitng'" class="theme-color" name="prism"></ion-icon>
      <ion-icon *ngIf="selectedTab!=='Visitng'" class="theme-color" name="prism-outline"></ion-icon>
      <label class="footer_text" [ngClass]="{'selected_tabs': selectedTab === 'Follow-Up'}">
        <span class="inner_text">Review</span></label>
      
    </ion-tab-button>
    <!-- <ion-tab-button (click)="goToPage('Report')" tab="Reports">
          <ion-icon  *ngIf="selectedTab=='Report'" class="theme-color" name="book"></ion-icon>
          <ion-icon *ngIf="selectedTab!=='Report'"  class="theme-color" name="book-outline"></ion-icon>
      Reports
        </ion-tab-button> -->
    <ion-tab-button (click)="goToPage('User')" tab="User">
      <ion-icon *ngIf="selectedTab!=='User'" class="theme-color" name="person-circle-outline"></ion-icon>
      <ion-icon *ngIf="selectedTab==='User'" class="theme-color" name="person-circle"></ion-icon>
      <label class="footer_text" [ngClass]="{'selected_tabs': selectedTab === 'User'}">
        <span class="inner_text">User</span></label>      
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>