<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">Upload Document</span>
      </div>
      <div class="right_action">
        <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="listColorClass" class="global_bgpopup_container">
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Before Service</ion-card-title>     
    </ion-card-header>  
    <ion-button (click)="viewImage('BEFORE_SERVICE')"   fill="clear"><ion-icon class="theme-color icon-size-add" name="add-circle-outline"></ion-icon></ion-button>  
  </ion-card> -->
  <ion-row>    
    <ion-col [ngClass]="listColorClass" (click)="viewImage('BEFORE_SERVICE')" class="global_image_upload_section_col" size="6"
      size-md="6">
      <div class="image_block">
        <img class="image-style" src="././assets/images/image-upload.png" />
      </div>
      <div class="middle_border"></div>
      <ion-card class="global_image_upload_card">
        <ion-title class="title">Before Service</ion-title>
      </ion-card>
    </ion-col>
    <ion-col [ngClass]="listColorClass" (click)="viewImage('PAYMENT_SCREENSHOT')" class="global_image_upload_section_col" size="6" size-md="6">
      <div class="image_block">
        <img class="image-style" src="././assets/images/screenshot.png" />
      </div>
      <div class="middle_border"></div>
      <ion-card class="global_image_upload_card">
        <ion-title class="title">Pay Screenshot</ion-title>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- <div class="block">
    <span class="succes-tag-line">Before Service</span>
  </div>
  <div class=" block">
    <img (click)="viewImage('BEFORE_SERVICE')" class="image-style" src="././assets/images/image-upload.png" />
  </div>
  <div class="block margin-body">
    <span class="succes-tag-line">Pay Screenshot</span>
  </div>
  <div class=" block">
    <img (click)="viewImage('PAYMENT_SCREENSHOT')" class="image-style" src="././assets/images/screenshot.png" />
  </div> -->
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Payment Screenshot</ion-card-title>     
    </ion-card-header>  
    <ion-button fill="clear" (click)="viewImage('PAYMENT_SCREENSHOT')" >    <ion-icon class="theme-color icon-size-add" name="add-circle-outline"></ion-icon></ion-button>
  </ion-card> -->
</ion-content>