<ion-header>
  <ion-toolbar>
    <ion-title>Available Images</ion-title>
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="imageArray?.length">
    <ion-row>
      <ion-col size="6" *ngFor="let photo of imageArray; index as position">
        <ion-card class="m-0">
          <img (click)="viewImage(photo)" [src]="photo?.imageUrlUrl" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="uploadPhoto" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>