<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">Total Arrivals :</span>
        <b class="total-number">{{newArivalsList?.length}}</b>
      </div>
      <div class="right_action">
        <ion-icon (click)="goToNewArival()" class="theme-color" name="add-circle-outline"></ion-icon>
        <ion-icon (click)="refreshList()" name="refresh-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="list_row" *ngIf="newArivalsList?.length">
    <ion-item *ngFor="let tractor of newArivalsList;let in=index">
      <ion-label>
        <h2 class="theme-color">{{tractor?.name}}</h2>
        <p>{{tractor?.yearOfManufactoring}} | {{tractor?.registractionNo}} | {{tractor?.hours}} | {{tractor?.createdOn |
          date }}</p>
      </ion-label>
      <!-- <ion-label>{{cus?.name}}</ion-label>
    <ion-label>{{cus?.mobileNo}}</ion-label> -->
      <div class="list_right_action">
        <ion-icon (click)="openEdit(tractor,in)" class="small_icon20 theme-color" name="create-outline"></ion-icon>
        <ion-icon (click)="startTranspotation(tractor)" class="right-margine theme-color-second"
          name="car-outline"></ion-icon>
        <!-- <ion-icon  *ngIf="cus?.customerType!=='ONLINE'" (click)="openEdit(cus,in)" class="right-margine theme-color" name="create-outline"></ion-icon>
    <ion-icon  (click)="addReview(cus,in)"  class="right-margine theme-color-second"name="chatbubbles-outline"></ion-icon>
    <ion-icon (click)="viewDetails(cus,in)"  class="right-margine theme-color-third "name="eye"></ion-icon> -->
      </div>
    </ion-item>
  </ion-list>
</ion-content>