.right-margine{
    margin-right: 5px;
}
.left-margin{
 position: relative;
 left:20px
}
.add-button{
    position: relative;
    right: 13px;
}
.icon-size{
  font-size: 30px;
}
.remark-side{
  margin-left: 20px;
  .remark-color{
    color: var(--app-theme-element-color) !important;
    font-weight: 600;
  }

}
.btn-right-margin{
    margin-right: 30px !important;
}
.button-theme{
    border-color:var(--app-theme-element-color) !important;
    ion-button {
        --background: var(--app-theme-element-color) !important;
        --border-color:var(--app-theme-element-color) !important;
        --outline-color:var(--app-theme-element-color) !important;
        --color:white !important;
       
        }
}
:host {
    ion-button {
     
       
        --outline-color:var(--app-theme-element-color) !important;
        --color:var(--app-theme-element-color) !important;
       
        }
  }
  .total-number{
    position: relative;
    left: 6px;
  }
  .list-position{
    position: relative;
    top: 45px;
  }
  .heading-list{
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 5px;
    color:var(--app-theme-element-color) !important;
  }