<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">Sales Details</div>
      <div class="right_action">
        <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding internal_card_container" [ngClass]="listColorClass">
  <ion-card class="card_based_data">
    <div class="inner-heading-list">
      <span>Customer Details</span>
    </div>
    <ion-row>
      <ion-col><b>Customer Name :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.nameOfCustomer}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Mobile Number :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.mobileNo}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>City :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.cityDetails?.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>State :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.stateDetails?.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Address :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.address}}</ion-col>
    </ion-row>

  </ion-card>
  <ion-card class="card_based_data">
    <div class="inner-heading-list">
      <span>Sales Details</span>
    </div>
    <ion-row>
      <ion-col><b>Selling Amount :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.sellingPrice}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Selling Date :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.sellingDate}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Margin Money :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.marginMoney}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Remark :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.remark}}</ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="card_based_data">
    <div class="inner-heading-list">
      <span>Person Details</span>
    </div>
    <ion-row>
      <ion-col><b>Broker :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.brokerDetails?.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Company Persopective :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.companyRepresentativeDetails?.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Entry Filled By :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.staffName}}</ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="card_based_data">
    <div class="inner-heading-list">
      <span>Location Details</span>
    </div>
    <ion-row>
      <ion-col><b>Store Details :</b></ion-col>
      <ion-col class="amount_col">
        {{sellingData?.wareHouseLocationDetails?.name}}</ion-col>
    </ion-row>
  </ion-card>
</ion-content>