<ion-header>  
  <ion-toolbar>  
    <ion-title >Search Tractor</ion-title>  
  
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size"  (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>  
</ion-header>  
<ion-content class="ion-padding">
<ion-searchbar [(ngModel)]="search.tfCode" slot="fixed"
placeholder="Enter TF Code"></ion-searchbar>
<div class="button-style">
  <ion-button class="button"  (click)="searchTractor()" expand="block">Search</ion-button>

</div>
<hr class="line-top-position"/>
<span class="inner-heading-list top-margin-heading" *ngIf="tractorList?.length">Tractor</span>
    <app-view-list *ngIf="tractorList?.length" [buttonArray]="buttonArray" [keyList]="keyList" [list]="tractorList" [search]="searchFilter" (actionEventCall)="actionEvent($event)" [searchKey]="searchKey"></app-view-list>
<!-- <ion-list class="list_row top-position scroll-body" *ngIf="tractorList?.length">

  <ion-item *ngFor="let tractor of tractorList;let in=index">
      <ion-row>
    <ion-label>
      <h2 class="theme-color">{{tractor?.name}}</h2>
      <p>{{tractor?.yearOfManufactoring}} | {{tractor?.registractionNo}} | {{tractor?.hours}} | {{tractor?.createdOn |
        date }}</p>
    </ion-label>
    </ion-row>
   
              <ion-row *ngIf="buttonArray?.length">
            
                <ion-col *ngFor="let button of buttonArray">    
                     <img (click)="actionEvent(tractor,button)" class="image-style " style="width: 60px;height: 50px; margin: 11px;" [src]="button?.image" />
                   </ion-col>
            
             
              </ion-row>
  </ion-item>
</ion-list> -->

</ion-content>