<ion-header [ngClass]="listColorClass">
  <ion-toolbar class="global_top_header">
    <ion-label class="top_heading">
      <div class="left_text">
        <ng-container *ngIf="!isListFilter">
          <span class="selected_text dynamic_color">{{title}}:</span>


        </ng-container>
        <ng-container *ngIf="isListFilter">
          <ng-container *ngIf="showWareHouse">
            <ion-select class="selected_ddl" (ionChange)="getAllTractorListStorewise()" [(ngModel)]="selectedStore"
              label-placement="type">
              <ion-select-option *ngFor="let ware of warehouseList" [value]="ware.id"> {{ ware?.name
                }}</ion-select-option>
            </ion-select>
          </ng-container>
          <ng-container *ngIf="universalSelect">
            <ion-select class="selected_ddl" (ionChange)="optionActionEventCall()" [(ngModel)]="selectedItem"
              label-placement="type">
              <ion-select-option *ngFor="let opt of optionsArray" [value]="opt.id"> {{ opt?.name }}</ion-select-option>
            </ion-select>
          </ng-container>
        </ng-container>
        <b class="total-number">
          <div class="more_data_load" (click)="expandListEventCall()"><span>{{list?.length}}</span><span class="three-dots-loader" *ngIf="allFilterList?.length && (list?.length<allFilterList?.length)"><span class="dot"></span><span class="dot"></span><span class="dot"></span><ion-icon class="unfold_icon dynamic_color" name="chevron-forward-outline"></ion-icon></span></div>  <span class="total_count" *ngIf="showFilterList">/{{allFilterList?.length}}</span></b>
        <!-- <span class="more_rows" (click)="expandListEventCall()"
          *ngIf="allFilterList?.length && (list?.length<allFilterList?.length)">
          <ion-icon class="unfold_icon top_arrow dynamic_color" name="chevron-up-outline"></ion-icon>
          <ion-icon class="dots_icon dynamic_color" name="ellipsis-vertical-outline"></ion-icon>
          <ion-icon class="unfold_icon bottom_arrow dynamic_color" name="chevron-down-outline"></ion-icon>
        </span> -->
      </div>
      <div class="right_action_collections">
        <div class="right_color_actions theme_btn dynamic_color" [ngClass]="{
    one_button: headerDisplayArray?.length === 1,
    two_button: headerDisplayArray?.length === 2,
    three_button: headerDisplayArray?.length >= 3
  }">
          <div class="btn_icons">
            <ng-container *ngFor="let option of headerDisplayArray;let opI=index">
              <ng-container *ngIf="headerDisplayArray?.length<=3">
              <span *ngIf="api.number_of_noti>0 && option?.type=='NOTIFICATION'" >{{api.number_of_noti}}</span>
                <ion-icon (click)="actionEventHeaderCall(option)" class="icon-size" name="{{option?.icon}}"></ion-icon>
              </ng-container>
              <ng-container *ngIf="headerDisplayArray?.length>3 && opI<2">
                <ion-icon (click)="actionEventHeaderCall(option)" class="icon-size" name="{{option?.icon}}"></ion-icon>
              </ng-container>
            </ng-container>
            <!-- <ion-icon class="icon-size" name="search-outline"></ion-icon>
            <ion-icon class="icon-size" name="refresh-outline"></ion-icon> -->

            <ion-icon *ngIf="headerDisplayArray?.length>3" class="icon-size" name="list-outline"
              (click)="openSubmenu()"></ion-icon>
          </div>
          <span class="wave dynamic_bgcolor"></span>
          <span class="wave dynamic_bgcolor"></span>
          <span class="wave dynamic_bgcolor" *ngIf="headerDisplayArray?.length>2"></span>
        </div>
        <!-- <div class="right_more_action">
          <ion-icon class="dynamic_color menu_icons" name="list-outline"></ion-icon>
        </div> -->
      </div>
    </ion-label>
  </ion-toolbar>
  <div [ngClass]="listColorClass" [ngClass]="{'open_submenu':submenuOpen}" class="sub_menu_block">
    <ng-container *ngFor="let option of headerDisplayArray;let opI=index">
      <ng-container *ngIf="opI>1">
        <div (click)="actionEventHeaderCall(option)" class="sub_menu_item">
                <span *ngIf="api.number_of_noti>0 && option?.type=='NOTIFICATION'" class="camera-counter">{{api.number_of_noti}}</span>
          <ion-icon class="dynamic_color" name="{{option?.icon}}"></ion-icon>
          <span class="text">{{option?.name}}</span>
        </div>
      </ng-container>
    </ng-container>
    <!-- <div class="sub_menu_item">
      <ion-icon class="dynamic_color" name="list-outline"></ion-icon>
      <span class="text">Buffer Stock</span>
    </div>
    <div class="sub_menu_item">
      <ion-icon class="dynamic_color" name="cog-outline"></ion-icon>
      <span class="text">Archived</span>
    </div> -->
  </div>
</ion-header>
<div [ngClass]="{'overlay':submenuOpen}" (click)="openSubmenu()"></div>