<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
       <ion-select class="selected_ddl" (ionChange)="getAllTractorListDistricwise()" [(ngModel)]="selectedDistrict"
        label-placement="type">
        <ion-select-option *ngFor="let district of districtList" [value]="district.district_id"> {{ district?.name }}</ion-select-option>
      </ion-select>
        <span>{{customerList?.length}}</span>
      </div>
      <div class="right_action">
        <!-- <ion-icon class="theme-color icon-size" (click)="districtmgmt()" name="chevron-up-circle-outline"></ion-icon> -->
        <!-- <ion-icon class="theme-color icon-size" (click)="searchCustomer()" name="search-outline"></ion-icon> -->
        <ion-icon class="theme-color icon-size" (click)="refreshList()" name="refresh-outline"></ion-icon>
        <!-- <ion-icon class="theme-color-second icon-size" (click)="addCustomer()" expand="block" 
          name="person-add-outline"></ion-icon> -->
                  <!-- <ion-icon class="theme-color-second icon-size" (click)="viewDashboard()" expand="block" 
          name="desktop-outline"></ion-icon> -->
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
<!-- 
  <ion-list class="list_row" *ngIf="customerList?.length && showData">
    <ng-container *ngFor="let cus of customerList;let in=index">
      <ion-item [ngClass]="{'warning_row': !cus?.leadsChat?.length}">
        <ion-label>
          <h2 class="theme-color">{{cus?.name}} <ion-icon class="right_warning_icon" *ngIf="!cus?.leadsChat?.length"
              name="warning"></ion-icon></h2>
          <p>{{cus?.mobileNo}}-{{cus?.customerType}}</p>
        </ion-label>
   
        <div class="list_right_action">
          <ion-icon *ngIf="cus?.customerType!=='ONLINE'" (click)="addCustomer(cus,in)" name="create-outline"></ion-icon>
          <ion-icon (click)="addRemark(cus)" class="theme-color" name="chatbubbles-outline"></ion-icon>
          <ion-icon (click)="viewCustomer(cus)" class="right-margine theme-color-second " name="eye"></ion-icon>
        </div>
      </ion-item>
    </ng-container>
  </ion-list> -->
  <app-view-customer-list *ngIf="customerList?.length && showData" (actionEventCall)="actionEventCall($event)" [buttonArray]="buttonArray" [listColorClass]="listColorClass" [list]="customerList"></app-view-customer-list>
  <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
 
</ion-content>