<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-title>New Notifications</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="icon-size dynamic_color" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding internal_card_container" [ngClass]="listColorClass">
  <div class="notification_container">
    <div class="notification_block">
      <div class="notification_icon">
        <ion-icon name="notifications-outline"></ion-icon>
      </div>
      <div class="notification_text">
        <span class="notification_title"><span class="dynamic_color">Hey, You Have {{count}} New Notifications</span></span>
     
      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-6 col-md-6">
       <div class="page_submit_btn">
        <ion-button (click)="viewNotification()" class="global_submit_color_button dynamic_bgcolor">View</ion-button>
       
      </div>
    </div>
    <div class="col-6 col-md-6">
       <div class="page_submit_btn">

        <ion-button (click)="markAsRead()"  class="global_submit_color_button dynamic_bgcolor">Mark As Read</ion-button>
      </div>
    </div>
  </div>
       
</ion-content>