.top-position {
    margin-top: 10px;
    position: relative;
    top: -7px;
}

.margin-body {
    margin-left: 10px;
}

.top-margin {
    position: relative;
}

.input-position {
    position: relative;
    top: 9px;
}

.button-style {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll {
    overflow-x: scroll;
    width: 100%;
}

.top-position-body {
    margin-top: 15px;
}

.button-width {
    width: 100% !important;
}

.margin-top {
    margin-bottom: 20px;
    margin-top: 10px;
}