<app-common-header
  class="app_common_header"
  [isListFilter]="true"
  [listColorClass]="listColorClass"
  [title]="'Enquire'"
  [list]="enquireList"
  *ngIf="allotedWareHouse?.length"
  [universalSelect]="true"
  [showWareHouse]="true"
  [warehouseList]="allotedWareHouse"
  [optionsArray]="optionsArray"
  [selectedItem]="selectedItem"
  [selectedStore]="selectedStore"
  [showFilterList]="true"
  [allFilterList]="allFilterList"
    (expandListEvent)="expandListEvent()" 
  [headerDisplayArray]="headerDisplayArray"
  (actionEventHeader)="actionEventHeader($event)"
  (optionActionEvent)="optionActionEvent($event)"
    (selectWareHouseAction)="tractorListStorewise($event)"
></app-common-header>
<ion-content>
  <ion-content>
    <app-enquire-customer-list
      *ngIf="enquireList?.length"
      (actionEventCall)="actionEventCall($event)"
      [buttonArray]="buttonArray"
      [listColorClass]="listColorClass"
      [list]="enquireList"
    ></app-enquire-customer-list>
    <app-no-data-view
      [ngClass]="listColorClass"
      *ngIf="!enquireList?.length && !share?.globalLoading"
    ></app-no-data-view> </ion-content
></ion-content>
