<ion-header>
  <ion-toolbar>
    <ion-title>Select {{itemName}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="internal_card_container">
  <div class="inner-heading-list">
    <ion-searchbar (ionFocus)="onInputFocus()" (ionBlur)="focusOut()" [(ngModel)]="search.name" slot="fixed"
      placeholder="Search {{itemName}}"></ion-searchbar>
  </div>
  <div class="radio_block_container">
    <ion-radio-group (ionChange)="selectItem($event)">
      <ion-radio class="radio_block" *ngFor="let item of list| filterBy: search ;let in=index"
        value="{{item?.id}}"><span class="radio_name">{{item?.name}}</span></ion-radio>
    </ion-radio-group>
    <div class="no_found_text_block" *ngIf="(list | filterBy: search).length === 0">
      <div class="no_found_text">
        <ion-icon name="warning"></ion-icon>
        <span class="no_found_text">No {{itemName}} Found</span>
      </div>
      <ion-button class="global_submit_button" (click)="addNewItem()">
        <span class="">Add New</span>
      </ion-button>
    </div>
  </div>
</ion-content>