.top-position{
    position: relative;
    top:70px;
    margin-left: 15px;
    margin-left: 25px;
    margin-bottom: 15px;

}
.width{
    width: 90%;

}
.font-display{
    font-size: 18px;
    font-family: var(--app-brand-font) !important;
 
}
  .text-align{  text-align: center;
    position: relative;
    top:12px;
  }