.radio_block_container {
  padding: 15px 15px 0px 25px;
  position: relative;
  z-index: -1;
  .radio_block {
    // overflow-x: scroll;
    display: flex;
    padding: 5px 10px;
    background: #ffffff;
    border-bottom: dashed 1px #e1e1e1;
    transition: .5s all;
    &:hover {
      background: transparent;
      border-color: #f5f5ff;
    }
  }
}