<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text" *ngIf="!data">Add Expense</span>
        <span class="selected_text" *ngIf="data">Update Expense</span>
      </div>
      <div class="right_action">
        <ion-icon (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <div class="global_input_block select_option_with_add">      
      <ion-select formControlName="expense_id" fill="outline" label="Expense Type" label-placement="stacked">
        <ion-select-option *ngFor="let type of expenseTypeList" [value]="type.id"> {{ type?.name }}</ion-select-option>
      </ion-select>
      <div class="right_action_block add_icon">
        <ion-icon (click)="openCrudManagement('TYPE_OF_RTO_EXPENSE')"
          name="add-circle-outline"></ion-icon>
      </div>
      <div class="right_action_block refresh_icon">
        <ion-icon (click)="getExpense()" name="refresh-outline"></ion-icon>
      </div>
      <!-- <ion-icon (click)="openCrudManagement('TYPE_OF_EXPENSE')" name="add-circle-outline"></ion-icon>
      <ion-icon (click)="getExpense()" name="refresh-outline"></ion-icon> -->
    </div>
    <div class="global_input_block">
      <ion-input label="Expense Amount" fill="outline" labelPlacement="stacked" type="number"
        formControlName="expense_amount"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Expense Date" fill="outline" labelPlacement="stacked" type="date" formControlName="expense_date"></ion-input>
    </div>
    <div class="page_submit_btn">
      <ion-button *ngIf="!data" (click)="saveExpense()" class="global_submit_button" expand="block">Save</ion-button>
      <ion-button *ngIf="data" (click)="updateItem()" class="global_submit_button" expand="block">Update</ion-button>
    </div>
  </form>
</ion-content>