<!-- <ion-header>
  <ion-toolbar>
    <div class="left-margin">
    <ion-label >   
      <h2>Total</h2>
      <p><b class="total-number">{{alltractorList?.length}}</b></p>
    </ion-label> 
  </div>
  <ion-button  class="button-theme" class="add-button" slot="end" (click)="refreshList()"  fill="outline"><ion-icon class="theme-color" name="refresh-outline" ></ion-icon></ion-button>
  </ion-toolbar>     
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">Live : </span>
        <ion-select *ngIf="listBy=='BRAND_WISE'" class="selected_ddl" (ionChange)="getListByBrand()" [(ngModel)]="selectedBrand"
          label-placement="type">
          <ion-select-option *ngFor="let type of brandList" [value]="type.id"> {{ type?.name }}</ion-select-option>
        </ion-select>
        <ion-select *ngIf="listBy=='STORE_WISE'" class="selected_ddl" (ionChange)="getAllTractorListStorewise()" [(ngModel)]="selectedStore"
        label-placement="type">
        <ion-select-option *ngFor="let ware of warehouseList" [value]="ware.id"> {{ ware?.name }}</ion-select-option>
      </ion-select>
        <b class="total-number">{{alltractorList?.length}}</b>
        
      </div>
      <div class="right_action">
        <ion-icon class="theme-color icon-size" (click)="searchTractor()" name="search-outline"></ion-icon>
        <ion-icon (click)="getBrandList(true)" name="refresh-outline"></ion-icon>
        <ion-icon (click)="presentModal()" name="cog-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
<app-view-list [buttonArray]="buttonArray" [keyList]="keyList" [list]="alltractorList" [search]="search" (actionEventCall)="actionEventCall($event)" [searchKey]="'registractionNo'"></app-view-list>
</ion-content>