<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">Total Repair :</span>
        <b class="total-number">{{repairtractorList?.length}}</b>
      </div>
      <div class="right_action">
        <ion-icon (click)="refreshList()" name="refresh-outline"></ion-icon>
        <!-- <ion-button style="margin-right: 10px;" class="button-theme add-button right-margine" slot="end"
          (click)="refreshList()" fill="outline"><ion-icon class="theme-color"
            name="refresh-outline"></ion-icon></ion-button> -->
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <span class="inner-heading-list">At Repair Center</span>
  <ion-list class="list_row" *ngIf="repairtractorList?.length">
    <ion-item *ngFor="let tractor of repairtractorList;let in=index">
      <ion-label>
        <h2 class="theme-color">{{tractor?.name}}</h2>
        <p>{{tractor?.yearOfManufactoring}} | {{tractor?.registractionNo}} | {{tractor?.hours}} | {{tractor?.createdOn |
          date }}</p>
      </ion-label>
      <div class="list_right_action">
        <ion-icon (click)="viewImage(tractor)" class="camera_icon theme-color" name="camera-outline"></ion-icon>
        <ion-icon (click)="viewTractorDashboard(tractor)" class="right-margine theme-color-second"
          name="eye-outline"></ion-icon>
      </div>
      <!-- <ion-icon   (click)="tractorDashboard(tractor)" class="right-margine theme-color-second" name="apps-outline"></ion-icon> -->
      <!-- <ion-icon   (click)="addCost(tractor,in)" class="right-margine theme-color" name="calculator-outline"></ion-icon>
      <ion-icon   (click)="addStatus(tractor)" class="right-margine theme-color" name="bookmarks-outline"></ion-icon>
      <ion-icon   (click)="showDeliveryModal(tractor?.id)" class="right-margine theme-color" name="storefront-outline"></ion-icon> -->
    </ion-item>
  </ion-list>
</ion-content>