.margin-bottom-headline {
    margin-bottom: 20px;
}

.global_table_block_details {
    .availability_col {
        max-width: 170px;
        justify-content: center !important;
    }

    .actions_col {
        max-width: 80px;
        justify-content: end !important;
        .delete_color {
            margin-left: 15px;
        }
    }
}