<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text" >Booking</span>
     
      </div>
      <div class="right_action">
        <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding global_bgpopup_container" [ngClass]="listColorClass">
  <form [formGroup]="form" *ngIf="form">
    <div class="margin-bottom-headline">
      <span class="global-inner-heading">Booking Details</span>
    </div>
    <div class="global_input_block">
      <ion-input label="Enter Deal Price" fill="outline" labelPlacement="stacked" labelPlacement="stacked"
        type="number" placeholder="Enter Deal Price" formControlName="deal_price"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Enter Booking Price" fill="outline" labelPlacement="stacked" type="number"
        placeholder="Enter Booking Price" formControlName="booking_price"></ion-input>
    </div>
        <div class="global_input_block">
      <ion-input label="Enter Booking Date" fill="outline" labelPlacement="stacked" type="date"
        placeholder="Enter Booking Date" formControlName="booking_date"></ion-input>
    </div>
      <div class="global_input_block">
      <ion-textarea formControlName="remark" label="Remark" class="bg_white" fill="outline" labelPlacement="stacked"
        placeholder="write remark here..."></ion-textarea>
    </div>

  
 
  
   
    <div class="page_submit_btn">
      <ion-button *ngIf="!bookedData" (click)="save()" class="global_submit_color_button dynamic_bgcolor">
        <ion-icon class="icon-size" name="add-circle-outline"></ion-icon><span>Booking</span>
      </ion-button>
      <ion-button *ngIf="bookedData" (click)="update()" class="global_submit_color_button dynamic_bgcolor">
        <ion-icon class="icon-size" name="create-outline"></ion-icon><span>Update Booking</span>
      </ion-button>
    </div>
  </form>
</ion-content>