 <ion-content class="ion-padding">
  <div  class="tfCOdeCss">TFCode : {{newOneDigit}}</div>
  <!-- <form class="form_basic_height" [formGroup]="form">
  
      <ion-item class="bottom-margin">
        <ion-input
          label="Actual Release Date"
          labelPlacement="stacked"
          type="date"
       
        formControlName="actualReleaseDate"
        ></ion-input>
      </ion-item>
     
      <div class="login-button">
  
        <ion-button *ngIf="!tractorDetails?.actualReleaseDate"  (click)="updateItem()"  style="text-align: center;" expand="block" >Save</ion-button>
        <ion-button  *ngIf="tractorDetails?.actualReleaseDate" (click)="updateItem()"  style="text-align: center;" expand="block" >Update</ion-button>
  
      </div>
      
  </form> -->
    <div class="login-button">
  
        <ion-button   (click)="updateItem()"  style="text-align: center;" expand="block" >Generate</ion-button>

  
      </div>
  </ion-content>