<div >
<div class="logoPosition">
  <img class="logoImage"  src="././assets/images/loginbanner.png"/>

</div>
<!-- <div class="input-fields"> -->
  <div class="input-field">
<ion-item>
  <!-- <ion-input label="User Name" placeholder="Enter Username"></ion-input> -->
  <ion-input label="User Name"  labelPlacement="stacked" placeholder="Enter Username" labelPlacement="stacked" ></ion-input>
  <!-- <ion-input label="User Name" label-placement="floating" fill="outline" placeholder="Enter Username"></ion-input> -->
</ion-item>
</div>
<div class="input-field">
<ion-item>
   <ion-input label="Password" type="password" labelPlacement="stacked" placeholder="Enter Password"> 

    <ion-input-password-toggle color="danger" slot="end"></ion-input-password-toggle>
  </ion-input> 
  <!-- <ion-input label="User Name" type="password" label-placement="floating" fill="outline" placeholder="Enter Username">
    <ion-input-password-toggle color="danger" slot="end"></ion-input-password-toggle>
  </ion-input> -->

</ion-item>
</div>
<!-- </div> -->
<div class="login-button">
  <ion-button style="text-align: center;" expand="block" >Login</ion-button>
</div>
<!-- <ion-input type="password" label="Password" value="NeverGonnaGiveYouUp">
  <ion-input-password-toggle labelPlacement="stacked" slot="end"></ion-input-password-toggle>
</ion-input> -->
</div>
