<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text" *ngIf="!approvalData">Approval Request</span>
      </div>
      <div class="right_action">
        <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding global_bgpopup_container" [ngClass]="listColorClass">
  <form [formGroup]="form" *ngIf="form">
  
     <div class="margin-bottom-headline">
      <span class="global-inner-heading">Customer Details</span>
    </div>
    <div class="global_input_block">
      <ion-input label="Customer Name *" fill="outline" labelPlacement="stacked" labelPlacement="stacked"
        type="text" placeholder="Customer Name *" formControlName="customerName"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Mobile Number *" fill="outline" labelPlacement="stacked" type="number"
        placeholder="Mobile Number *" formControlName="mobileNo"></ion-input>
    </div>
     <div class="global_input_block global_location_block" (click)="selectItem(this.stateList,'State','state_list')">
    <span class="top_layers">State</span>
    <span class="name_selected">{{stateName}}</span>
    <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
    <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
      <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
    </ion-select> -->
  </div>
  <div class="global_input_block global_location_block" (click)="selectItem(this.cityListFilter,'City','city_list')">
    <span class="top_layers">City</span>
    <span class="name_selected">{{cityName}}</span>
    <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
    <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
          <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
        </ion-select> -->
  </div>
      <div class="global_input_block">
      <ion-input label="Village *" fill="outline" labelPlacement="stacked" type="text"
        placeholder="Village *" formControlName="village"></ion-input>
    </div>
      <div class="margin-bottom-headline">
      <span class="global-inner-heading">Deal Detail</span>
    </div>
    <div class="global_input_block">
      <ion-input label="Enter Deal Price *" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="number"
        placeholder="Enter Price *" formControlName="approvePrice"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input type="date" label="Expected Date(Purchase) *" fill="outline" labelPlacement="stacked"
        placeholder="Expected Date(Purchase) *" formControlName="expectedDateOfSale"></ion-input>
    </div>
        <div class="global_input_block">
      <ion-input label="Enter Booking Price(Advance) *" fill="outline" labelPlacement="stacked" type="number"
        placeholder="Enter Booking Price(Advance) *" formControlName="booking_price"></ion-input>
    </div>
         <div class="global_input_block">
      <ion-select label="Type Of Sale *" fill="outline" formControlName="sale_type" label-placement="type">
        <ion-select-option  value="CASH">Cash</ion-select-option>
        <ion-select-option  value="FINANCE">Finance</ion-select-option>
      </ion-select>
    </div>
    <div class="global_input_block">
      <ion-textarea formControlName="remark" label="Remark" class="bg_white" fill="outline" labelPlacement="stacked"
        placeholder="write remark here..."></ion-textarea>
    </div>
    <div class="page_submit_btn">
      <ion-button (click)="save()" class="global_submit_color_button dynamic_bgcolor">
        <ion-icon class="icon-size" name="add-circle-outline"></ion-icon><span>Request</span>
      </ion-button>
      <!-- <ion-button *ngIf="approvalData" (click)="update()" class="global_submit_color_button dynamic_bgcolor">
        <ion-icon class="icon-size" name="create-outline"></ion-icon><span>Update Enquiry</span>
      </ion-button> -->
    </div>
  </form>
</ion-content>