.top-position-list {
    position: relative;
    top: 20px
}

.image-no-data {
    width: 50%;
    /* padding: 20px; */
    height: 200px;
}

.no-data-block {
    text-align: center;
    position: relative;
    top: 44px;
}

.search_bar_row {
    padding-bottom: 0px !important;
}

.main_block_details {
    padding: 0px;

    ion-card {
        margin: 10px 0px;
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 10px;
        border: dashed 1px;
        position: relative;
        overflow: hidden;

        .camera-icon-container {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: white;
            border-radius: 50%;
            padding: 8px;
            z-index: 10;
            cursor: pointer;

            ion-icon {
                font-size: 24px;
            }

            .camera-counter {
                position: absolute;
                top: -6px;
                right: -6px;
                color: white;
                font-size: 12px;
                border-radius: 50%;
                padding: 2px 5px;
                width: 24px;
                height: 24px;
                font-weight: bold;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .live_icon {
            right: 55px;
        }

        .show_more_block {
            width: 100%;
            display: flex;
            text-align: right;
            justify-content: right;
            font-size: 12px;
        }

        .custom-overlay {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.5s ease-in-out;
            z-index: 100;
            transform: translate(100%, -100%);

            &.show {
                transform: translate(0%, 0%);
            }

            .top_right_close_box {
                position: absolute;
                right: 15px;
                top: 0px;
                cursor: pointer;
                transition: 0.5s all;
                font-size: 30px;
                background: #333333;
                width: 100%;
                text-align: right;
                justify-content: right;
                display: flex;

                .close_icon {
                    cursor: pointer;
                    color: #ffffff;
                    transition: 0.5s all;
                    font-size: 30px;
                }
            }



            .middle-image-section {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                padding: 30px 15px 15px 15px;
                overflow: auto;
                flex-flow: wrap;

                img {
                    width: calc(50% - 5px);
                    border-radius: 5px;
                    margin-top: 15px;
                }
            }
        }

        .action_col {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 20px 0px 0px;
            // padding: 10px;
            // box-shadow: var(--app-brand-shadow-small);
            box-shadow: -1px 2px 15px 0px #000000d1;
            border-radius: 10px;
            max-width: 50px;
            max-height: 50px;
            min-width: 50px;
            border: dashed 1px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .shape {
                height: 90%;
                width: 94%;
                position: absolute;
                top: 6%;
                left: 0;

                span {
                    content: "";
                    position: absolute;
                    margin: auto;
                    height: 8px;
                    width: 2px;
                    // background: #e6203b;
                    opacity: 0;

                    &:nth-of-type(1) {
                        top: -0px;
                        left: 0;
                        right: 0;
                    }

                    &:nth-of-type(2) {
                        bottom: -0px;
                        left: 0;
                        right: 0;
                    }

                    &:nth-of-type(3) {
                        top: 0;
                        bottom: 0;
                        left: 10px;
                    }

                    &:nth-of-type(4) {
                        top: 0;
                        bottom: 0;
                        right: 10px;
                    }

                    &:nth-of-type(5) {
                        top: -5px;
                        left: -40%;
                        right: 0;
                        transform: rotate(-30deg);
                    }

                    &:nth-of-type(6) {
                        top: -5px;
                        left: 0;
                        right: -40%;
                        transform: rotate(30deg);
                    }

                    &:nth-of-type(7) {
                        bottom: 0px;
                        right: 0;
                        left: -30%;
                        transform: rotate(30deg);
                    }

                    &:nth-of-type(8) {
                        bottom: 0px;
                        left: 0;
                        right: -30%;
                        transform: rotate(-30deg);
                    }
                }

            }

            &:hover {
                .shape {
                    span {
                        &:nth-of-type(1) {
                            animation: anim1 0.4s ease-out 2;
                        }

                        &:nth-of-type(2) {
                            animation: anim2 0.4s ease-out 2;
                        }

                        &:nth-of-type(3) {
                            animation: anim3 0.4s ease-out 2;
                        }

                        &:nth-of-type(4) {
                            animation: anim4 0.4s ease-out 2;
                        }

                        &:nth-of-type(5) {
                            animation: anim5 0.4s ease-out 2;
                        }

                        &:nth-of-type(6) {
                            animation: anim6 0.4s ease-out 2;
                        }

                        &:nth-of-type(7) {
                            animation: anim7 0.4s ease-out 2;
                        }

                        &:nth-of-type(8) {
                            animation: anim8 0.4s ease-out 2;
                        }
                    }
                }
            }
        }

        .main_title {
            font-weight: 600;
            margin-bottom: 5px;
            max-width: calc(100% - 80px);
            display: flex;
            padding-top: 10px;
        }

        .left_row_title {
            color: #000000;
        }

        ion-col {
            font-size: 13px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 120px;
            height: 120px;
            top: -50px;
            left: -40px;
            border-radius: 50%;
            z-index: 0;
            opacity: 0.1;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            bottom: -40px;
            right: -40px;
            transform: rotate(45deg);
            z-index: 0;
            opacity: 0.3;
        }
    }
}

// animation/* let's animate this */
@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes anim1 {
    0% {
        transform: scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: translateY(-10px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: translateY(-20px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim2 {
    0% {
        transform: scaleY(1);
        opacity: 0;
    }

    50% {
        transform: translateY(10px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: translateY(20px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim3 {
    0% {
        transform: rotate(90deg) scaleX(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(90deg) translateY(10px) scaleX(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(90deg) translateY(20px) scaleX(0.5);
        opacity: 0;
    }
}

@keyframes anim4 {
    0% {
        transform: rotate(90deg) scaleX(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(90deg) translateY(-10px) scaleX(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(90deg) translateY(-20px) scaleX(0.5);
        opacity: 0;
    }
}

@keyframes anim5 {
    0% {
        transform: rotate(-30deg) scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(-30deg) translateY(-8px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(-30deg) translateY(-16px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim6 {
    0% {
        transform: rotate(30deg) scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(30deg) translateY(-8px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(30deg) translateY(-16px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim7 {
    0% {
        transform: rotate(30deg) scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(30deg) translateY(8px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(30deg) translateY(16px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim8 {
    0% {
        transform: rotate(-30deg) scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(-30deg) translateY(8px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(-30deg) translateY(16px) scaleY(0.5);
        opacity: 0;
    }
}