<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{ crudDetail?.headerTitle }}</ion-title>
    <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>  
    <ion-button class="button-theme" *ngIf="view === 'LIST'" class="add-button" slot="end" (click)="viewAction('FORM')"
      fill="outline"><ion-icon class="theme-color" name="add-circle-outline"></ion-icon></ion-button>
    <ion-button class="button-theme" *ngIf="view === 'FORM'" class="add-button" slot="end" (click)="viewAction('LIST')"
      fill="outline"><ion-icon class="theme-color" name="list-outline"></ion-icon></ion-button>
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">{{ crudDetail?.headerTitle }}</span>
      </div>
      <div class="right_action">
        <ion-icon (click)="viewAction('FORM')" *ngIf="view === 'LIST'" name="add-circle-outline"></ion-icon>
        <ion-icon (click)="viewAction('LIST')" *ngIf="view === 'FORM'" name="list-outline"></ion-icon>
        <ion-icon class="theme-color" (click)="dismiss()" name="arrow-back-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="view === 'LIST'">
    <ion-list class="list_row" *ngIf="listData?.length">
      <ion-item *ngFor="let row of listData;let in=index">
        <ion-label>
          <h2>{{row[crudDetail?.colArray[0]]}}</h2>
          <p *ngFor="let col of crudDetail?.colArray;let i=index">
            <ng-container *ngIf="i>0">
              {{ row[col] }}
            </ng-container>
          </p>
        </ion-label>
        <ion-icon (click)="editData(row)" class="right-margine theme-color" name="create-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ng-container>
  <div class="page_inner_container ion-padding" *ngIf="view === 'FORM'">
    <form [formGroup]="form">
      <div *ngFor="let fields of crudDetail?.data">
        <ng-container *ngIf="fields?.type==='text'">
          <div class="global_input_block">
            <ion-input label="{{fields.title}}" fill="outline" labelPlacement="stacked" type="text"
              formControlName="{{ fields.key }}"></ion-input>
          </div>
        </ng-container>
        <ng-container *ngIf="fields?.type==='number'">
          <div class="global_input_block">
            <ion-input label="{{fields.title}}" fill="outline" labelPlacement="stacked" type="number"
              formControlName="{{ fields.key }}"></ion-input>
          </div>
        </ng-container>
        <ng-container *ngIf="fields?.type==='list'">
     
          <div class="global_input_block" >
            <ion-select     formControlName="{{ fields.key }}" fill="outline"  label="{{fields.title}}"  label-placement="type">
              <ion-select-option *ngFor="let row of dynamicListData" [value]="row?.id">{{row?.name}}</ion-select-option>
            </ion-select>
          </div>
        </ng-container>
      </div>
    </form>
    <div class="page_submit_btn">
      <ion-button (click)="addItem()" *ngIf="formAction==='ADD'" class="global_submit_button"
        expand="block">Save</ion-button>
      <ion-button (click)="updateItem()" *ngIf="formAction==='UPDATE'" class="global_submit_button"
        expand="block">Update</ion-button>
    </div>
  </div>
</ion-content>