<ion-header>
  <ion-toolbar>
    <ion-title>{{ crudDetail?.headerTitle }}</ion-title>

    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-button
      class="button-theme"
      *ngIf="view == 'LIST'"
      class="add-button"
      slot="end"
      (click)="viewAction('FORM')"
      fill="outline"
      ><ion-icon class="theme-color" name="add-circle-outline"></ion-icon
    ></ion-button>
    <ion-button
      class="button-theme"
      *ngIf="view == 'FORM'"
      class="add-button"
      slot="end"
      (click)="viewAction('LIST')"
      fill="outline"
      ><ion-icon class="theme-color" name="list-outline"></ion-icon
    ></ion-button>
    <ion-buttons slot="end">
      <ion-icon
        class="theme-color icon-size"
        (click)="dismiss()"
        name="close-circle-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 


  
</ion-content>
