<ion-header [ngClass]="listColorClass">
  <ion-toolbar class="cp-toolbar">
    <div class="cp-header-inner">
      <div class="cp-header-left">
        <div class="cp-header-icon">
          <ion-icon name="layers-outline"></ion-icon>
        </div>
        <span class="cp-header-title">{{ crudDetail?.headerTitle }}</span>
      </div>
      <div class="cp-header-actions">
        <button class="cp-action-btn" (click)="viewAction('FORM')" *ngIf="view === 'LIST'">
          <ion-icon name="add-circle-outline"></ion-icon>
        </button>
        <button class="cp-action-btn" (click)="viewAction('LIST')" *ngIf="view === 'FORM'">
          <ion-icon name="list-outline"></ion-icon>
        </button>
        <button class="cp-close-btn dynamic_color" (click)="dismiss()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </button>
      </div>
    </div>
    <div class="cp-view-tabs">
      <span class="cp-view-tab" [class.active]="view === 'LIST'">List</span>
      <span class="cp-view-tab" [class.active]="view === 'FORM'">
        {{ formAction === 'UPDATE' ? 'Edit' : 'Add New' }}
      </span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="cp-content" [ngClass]="listColorClass">

  <!-- ── LIST VIEW ── -->
  <ng-container *ngIf="view === 'LIST'">
    <div class="cp-list-wrap" *ngIf="listData?.length">
      <ion-item *ngFor="let row of listData; let i = index"
        class="cp-list-item"
        [style.animation-delay]="(i * 45) + 'ms'">
        <div class="cp-item-avatar" slot="start">
          {{ row[crudDetail?.colArray[0]]?.toString()?.charAt(0)?.toUpperCase() }}
        </div>
        <ion-label class="cp-item-label">
          <h2 class="cp-item-title">{{ row[crudDetail?.colArray[0]] }}</h2>
          <ng-container *ngFor="let col of crudDetail?.colArray; let ci = index">
            <p class="cp-item-sub" *ngIf="ci > 0 && row[col]">{{ row[col] }}</p>
          </ng-container>
        </ion-label>
        <button class="cp-edit-btn dynamic_color" (click)="editData(row)" slot="end">
          <ion-icon name="create-outline"></ion-icon>
        </button>
      </ion-item>
    </div>
    <app-no-data-view [ngClass]="listColorClass" *ngIf="!listData?.length"></app-no-data-view>
  </ng-container>

  <!-- ── FORM VIEW ── -->
  <div class="cp-form-wrap" *ngIf="view === 'FORM'">
    <form [formGroup]="form">
      <div class="cp-field-group" *ngFor="let fields of crudDetail?.data">

        <ng-container *ngIf="fields?.type === 'text'">
          <div class="global_input_block cp-input-block">
            <ion-input label="{{ fields.title }}" fill="outline" labelPlacement="stacked"
              type="text" formControlName="{{ fields.key }}"></ion-input>
          </div>
        </ng-container>

        <ng-container *ngIf="fields?.type === 'number'">
          <div class="global_input_block cp-input-block">
            <ion-input label="{{ fields.title }}" fill="outline" labelPlacement="stacked"
              type="number" formControlName="{{ fields.key }}"></ion-input>
          </div>
        </ng-container>

        <ng-container *ngIf="fields?.type === 'list' ">
          <div class="global_input_block cp-input-block">
            <ion-select formControlName="{{ fields.key }}" fill="outline"
              label="{{ fields.title }}" labelPlacement="stacked">
              <ion-select-option *ngFor="let row of dynamicListData" [value]="row?.id">
                {{ row?.name }}
              </ion-select-option>
            </ion-select>
          </div>
        </ng-container>
          <ng-container *ngIf="fields?.type === 'list_static' ">
          <div class="global_input_block cp-input-block">
            <ion-select formControlName="{{ fields.key }}" fill="outline"
              label="{{ fields.title }}" labelPlacement="stacked">
              <ion-select-option *ngFor="let row of fields?.options" [value]="row">
                {{ row }}
              </ion-select-option>
            </ion-select>
          </div>
        </ng-container>

      </div>
    </form>

    <div class="cp-submit-wrap">
      <ion-button (click)="addItem()" *ngIf="formAction === 'ADD'"
        class="global_submit_color_button cp-submit-btn" expand="block">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Save
      </ion-button>
      <ion-button (click)="updateItem()" *ngIf="formAction === 'UPDATE'"
        class="global_submit_color_button cp-submit-btn" expand="block">
        <ion-icon slot="start" name="refresh-outline"></ion-icon>
        Update
      </ion-button>
    </div>
  </div>

</ion-content>
