.upload-card {
    border: 1px dashed;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background: #fff7f0;
    max-width: 400px;
    margin: 50px auto;
}

.upload-card:hover {
    background: #ffe6d5;
    transform: translateY(-3px);
}

.upload-icon {
    width: 70px;
    margin: 15px 0px;
    border-radius: 10px;
}

.upload-card h3 {
    margin: 8px 0;
    color: #333;
}

.upload-card p {
    font-size: 13px;
    color: #777;
}