<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">Options</div>
      <div class="right_action">
        <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding internal_card_container" [ngClass]="listColorClass">
  <div class="upload-card dynamic_color" (click)="goToUplodeSection('FINANCE_DOCUMENTS')">
    <img src="./assets/images/envelope.png" class="upload-icon" />
    <h3>Finance Documents</h3>
    <p>Upload your financial files..</p>
  </div>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Payment Screenshot</ion-card-title>     
    </ion-card-header>  
    <ion-button fill="clear" (click)="viewImage('PAYMENT_SCREENSHOT')" >    
      <ion-icon class="theme-color icon-size-add" name="add-circle-outline"></ion-icon></ion-button>
  </ion-card> -->
</ion-content>