<ion-header>
    
  <ion-toolbar>
    <div class="left-margin">
    <ion-label >
   
      <h2>Payments</h2>

    </ion-label> 
  
  </div>
  
  <!-- <ion-label >
    <h2>D</h2>
    <p><b class="total-number">{{digital?.length}}</b></p>
  </ion-label> 
  <ion-label >
    <h2>O</h2>
    <p><b class="total-number">{{online?.length}}</b></p>
  </ion-label> 
  <ion-label >
    <h2>V</h2>
    <p><b class="total-number">{{visitors?.length}}</b></p>
  </ion-label>  -->
  <ion-button  class="button-theme" class="add-button" slot="end" (click)="getList()"  fill="outline"><ion-icon class="theme-color" name="refresh-outline" ></ion-icon></ion-button>
  
    <ion-button *ngIf="remainigPayment>0"  class="button-theme" (click)="showModal()" class="add-button" slot="end"  fill="outline"><ion-icon class="theme-color" name="add-circle-outline" ></ion-icon></ion-button>
    <ion-button  class="button-theme" (click)="dismiss()" class="add-button" slot="end"  fill="outline"><ion-icon class="theme-color" name="close-circle-outline" ></ion-icon></ion-button>
  
    <!-- <ion-button class="button-theme btn-right-margin" class="add-button" slot="end" (click)="backToTansport()"  fill="outline"><ion-icon class="theme-color" name="arrow-back-outline" ></ion-icon></ion-button> -->
  </ion-toolbar>     
</ion-header>
<ion-content >

  <ion-grid>
    <ion-row>
      <ion-col>Total Amount</ion-col>
      <ion-col>₹ {{dealearPrice}}</ion-col>
  
    </ion-row>
    <ion-row>
      <ion-col>Payment done</ion-col>
      <ion-col>₹ {{totalPaymentDone}}</ion-col>
  
    </ion-row>
    <ion-row>
      <ion-col>Remaining Payment</ion-col>
      <ion-col>₹ {{remainigPayment}}</ion-col>
  
    </ion-row>
    </ion-grid>
    <span class="heading-list">Payment History</span>
  <ion-list *ngIf="listData?.length" >
    <ion-item *ngFor="let row of listData;let in=index">
      <ion-label>
      <h2>{{row?.transaction_head}}</h2>
      <p>{{row?.amount}} | {{row?.transaction_date | date}}</p>
    </ion-label>
        
    <!-- <ion-icon  (click)="showModal(row)" class="right-margine theme-color" name="create-outline"></ion-icon> -->
      <!-- <ion-icon   (click)="openEdit(tractor,in)" class="right-margine theme-color" name="create-outline"></ion-icon>
      <ion-icon   (click)="showAlert(tractor,in)" class="right-margine theme-color" name="car-outline"></ion-icon> -->
  
    </ion-item>
  
  
  </ion-list>
 
  
  </ion-content>
