<ion-header>
  <ion-toolbar>
    <ion-title class="ace-title">
      <span *ngIf="!data">Add Estimation</span>
      <span *ngIf="data">Update Estimation</span>
    </ion-title>
    <ion-buttons slot="end">
      <button class="ace-icon-btn" type="button" (click)="getExpense()" aria-label="Refresh expense types">
        <ion-icon name="refresh-outline"></ion-icon>
      </button>
      <button class="ace-icon-btn" type="button" (click)="openCrudManagement('NEW_FINDING_COST_ESTIMATION_HEADING')"
        aria-label="Add expense type">
        <ion-icon name="add-outline"></ion-icon>
      </button>
      <button class="ace-icon-btn ace-close-btn" type="button" (click)="dismiss()" aria-label="Close">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ace-header-art">
    <span class="ace-orb ace-orb-one"></span>
    <span class="ace-orb ace-orb-two"></span>
  </div>
</ion-header>
<ion-content class="ion-padding ace-content">
  <form [formGroup]="form" class="ace-card">
    <div class="global_input_block ace-input-block">
      <ion-select formControlName="cost_estimation_id" fill="outline" label="Expense Type" label-placement="stacked">
        <ion-select-option *ngFor="let type of expenseTypeList" [value]="type.id"> {{ type?.name }}</ion-select-option>
      </ion-select>
    </div>
    <div class="global_input_block ace-input-block">
      <ion-input label="Expense Amount" fill="outline" labelPlacement="stacked" type="number"
        formControlName="cost_value"></ion-input>
    </div>

    <button class="ace-submit-btn" type="button" *ngIf="!data" (click)="saveExpense()">Save</button>
    <button class="ace-submit-btn" type="button" *ngIf="data" (click)="updateItem()">Update</button>
  </form>
</ion-content>
