<ion-header>  
  <ion-toolbar>  
    <ion-title >Leads</ion-title>  
   
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
 
  </ion-toolbar>  
</ion-header> 
<ion-content>
  <ion-accordion-group [multiple]="true" [value]="[]">
  
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Today</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col>Digital</ion-col>
            <ion-col>{{counts?.customers_today_digital}}</ion-col>
        
          </ion-row>
          <ion-row>
            <ion-col>Visitors</ion-col>
            <ion-col>{{counts?.customers_today_visitors}}</ion-col>
        
          </ion-row>
          <ion-row *ngIf="staff_role=='SUPER_ADMIN'">
            <ion-col>Online</ion-col>
            <ion-col>{{counts?.customers_today_ONLINE}}</ion-col>
        
          </ion-row>
        </ion-grid>
        </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Yesterday</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row *ngIf="staff_role=='SUPER_ADMIN'">
            <ion-col>Digital</ion-col>
            <ion-col>30</ion-col>
        
          </ion-row>
          <ion-row>
            <ion-col>Visitors</ion-col>
            <ion-col>20</ion-col>
        
          </ion-row>
          <ion-row *ngIf="staff_role=='SUPER_ADMIN'">
            <ion-col>Online</ion-col>
            <ion-col>35</ion-col>
        
          </ion-row>
        </ion-grid>
        </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Last 7 Days</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row *ngIf="staff_role=='SUPER_ADMIN'">
            <ion-col>Digital</ion-col>
            <ion-col>30</ion-col>
        
          </ion-row>
          <ion-row>
            <ion-col>Visitors</ion-col>
            <ion-col>20</ion-col>
        
          </ion-row>
          <ion-row *ngIf="staff_role=='SUPER_ADMIN'">
            <ion-col>Online</ion-col>
            <ion-col>35</ion-col>
        
          </ion-row>
        </ion-grid>
        </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="light">
        <ion-label>This Month</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row *ngIf="staff_role=='SUPER_ADMIN'">
            <ion-col>Digital</ion-col>
            <ion-col>30</ion-col>
        
          </ion-row>
          <ion-row>
            <ion-col>Visitors</ion-col>
            <ion-col>20</ion-col>
        
          </ion-row>
          <ion-row *ngIf="staff_role=='SUPER_ADMIN'">
            <ion-col>Online</ion-col>
            <ion-col>35</ion-col>
        
          </ion-row>
        </ion-grid>
        </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>