// ion-col {
//   background-color: var(--app-theme-element-color) !important;;
//   border: solid 1px #fff;
//   color: #fff;
//   text-align: center;
// }
// .margin-right{
//     margin-right: 20px;
// }
.filter_row {
  .global_submit_color_button {
    margin: 0px;
    border-radius: 5px;
    overflow: hidden;
  }
}

.report_main_container {
  .report_block {
    margin: 10px 0px 20px 0px;
  }

  .left_details_block {
    border-right: dashed 1px;
    align-items: center;
    display: flex;

    .details_line_row {
      color: #666666;
    }
  }
}