
  .right-margin{
    margin-right: 2px;
  }
  .left-margin{
    position: relative;
    left:20px
   }
   .icon-size-add{
    font-size: 20px;
  }
   .font-wieght{
    font-weight: 700;
   }
   .body-map{
    position: relative;
    top:55px;
    height: calc(100% - 50px);
    overflow-y: scroll;
   }

   .form-height{
    height: calc(100% - 50px);
    overflow-y: scroll;
}
.hieght-body{
    height: 100%;
}
:host {
    ion-button {
     
       
        --outline-color:var(--app-theme-element-color) !important;
        --color:var(--app-theme-element-color) !important;
       
        }
   
  ion-checkbox{
    --checkbox-background-checked: var(--app-theme-element-color) !important;
    --border-color-checked: var(--app-theme-element-color) !important;
    }
  }
  .add-button{
    position: relative;
    right: 10px;
}
.button-theme{
    border-color:var(--app-theme-element-color) !important;
    ion-button {
        --background: var(--app-theme-element-color) !important;
        --border-color:var(--app-theme-element-color) !important;
        --outline-color:var(--app-theme-element-color) !important;
        --color:white !important;
       
        }
       
}
ion-col {
  background-color: var(--app-theme-element-color) !important;;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}