<app-common-header class="app_common_header" [isListFilter]="false" [listColorClass]="listColorClass"
  [title]="headerHeading" [list]="staffList" [showWareHouse]="false" [headerDisplayArray]="headerDisplayArray"
  (actionEventHeader)="actionEventHeader($event)"></app-common-header>
<ion-content class="internal_card_container">
  <app-view-staff-list *ngIf="staffList?.length" [keyList]="keyList" (actionEventCall)="actionEventCall($event)"
    [buttonArray]="buttonArray" [listColorClass]="listColorClass" [list]="staffList"></app-view-staff-list>
  <app-no-data-view [ngClass]="listColorClass" *ngIf="!staffList?.length && !share?.globalLoading"></app-no-data-view>
</ion-content>