<form class="form_basic_height" [formGroup]="modelForm" [ngClass]="listColorClass">
  <div class="position-body" formGroupName="purchasedetail">
    <div class="global-inner-heading">
      <span>Dates</span>
    </div>
    <div class="global_input_block">
      <ion-input label="Select Purchase Date" fill="outline" labelPlacement="stacked" type="date"
        formControlName="purchanseDate"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Expected Date Of Arrival" fill="outline" labelPlacement="stacked" type="date"
        formControlName="expectedDateOfArrival"></ion-input>
    </div>
    <div class="global-inner-heading">
      <span>Purchase Details</span>
      <div class="pd-section-actions">
        <button class="pd-action-btn pd-add-btn" (click)="openCrudManagement('DEALER_LIST')">
          <ion-icon name="add-outline"></ion-icon>
        </button>
        <button class="pd-action-btn pd-refresh-btn" (click)="refreshList('DEALER_LIST')">
          <ion-icon name="refresh-outline"></ion-icon>
        </button>
      </div>
    </div>
    <div class="global_input_block select_option_with_add">
      <ion-select formControlName="typeOfPurchase" labelPlacement="stacked" fill="outline" label="Type Of Purchase"
        label-placement="stacked">
        <ion-select-option *ngFor="let type of typePurchaseList" [value]="type.id"> {{ type?.name }}</ion-select-option>
      </ion-select>
      <div class="right_action_block add_icon">
        <ion-icon (click)="openCrudManagement('TYPE_OF_PURCHASE')" name="add-circle-outline"></ion-icon>
      </div>
      <div class="right_action_block refresh_icon">
        <ion-icon (click)="refreshList('TYPE_OF_PURCHASE')" name="refresh-outline"></ion-icon>
      </div>
    </div>
    <div class="global_input_block">
      <ion-input label="Bank Name" fill="outline" labelPlacement="stacked" type="text"
        formControlName="bankNameAuction"></ion-input>
    </div>

      <div class="global_input_block global_location_block" (click)="selectItem(dealer_list,'Dealer/Bank','dealer_list')">

    <span class="top_layers">Dealer/Bank</span>
    <span class="name_selected">{{dealerName}}</span>
    <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
    <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
      <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
    </ion-select> -->
     
  </div>
    
    <div class="global_input_block">
      <ion-input label="Purchase Price" fill="outline" labelPlacement="stacked" type="text"
        formControlName="purchasePrice"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Amount Transfer Date" fill="outline" labelPlacement="stacked" type="date"
        formControlName="amountTransferDate"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Park Location" fill="outline" labelPlacement="stacked" type="text"
        formControlName="parkLocation"></ion-input>
    </div>
      <div class="global_input_block select_option_with_add">
      <ion-select formControlName="companyRepresentative" fill="outline" label="Company Representative"
        label-placement="type" labelPlacement="stacked">
        <ion-select-option *ngFor="let comp of companyRepresentativeList" [value]="comp.id"> {{ comp?.name
          }}</ion-select-option>
      </ion-select>
      <div class="right_action_block add_icon">
        <ion-icon (click)="openCrudManagement('COMPANYREPRESENTATIVE')" name="add-circle-outline"></ion-icon>
      </div>
      <div class="right_action_block refresh_icon">
        <ion-icon (click)="refreshList('COMPANYREPRESENTATIVE')" name="refresh-outline"></ion-icon>
      </div>
    </div>
    <ng-container *ngIf="dealerName=='Other'">
    <div  class="global-inner-heading">
      <span>Seller Details (For Individual)</span>
    </div>
      <div class="global_input_block">
      <ion-input label="Name Of Seller(For Individual)" fill="outline" labelPlacement="stacked" type="text"
        formControlName="nameOfSeller"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Seller Address" fill="outline" labelPlacement="stacked" type="text"
        formControlName="address"></ion-input>
    </div>
    <!-- <div class="global_input_block select_option_with_add">
      <ion-select formControlName="city" labelPlacement="stacked" fill="outline" label="City" label-placement="type">
        <ion-select-option *ngFor="let city of cityList" [value]="city.id"> {{ city?.name }}</ion-select-option>
      </ion-select>
      <div class="right_action_block add_icon">
        <ion-icon (click)="openCrudManagement('CITY')" name="add-circle-outline"></ion-icon>
      </div>
      <div class="right_action_block refresh_icon">
        <ion-icon (click)="refreshList('CITY')" name="refresh-outline"></ion-icon>
      </div>
    </div> -->
    <div class="global_input_block">
      <ion-input label="Seller Contact 1" fill="outline" labelPlacement="stacked" type="text"
        formControlName="contact1"></ion-input>
    </div>
    <!-- <div class="global_input_block">
      <ion-input label="Seller Contact 2" fill="outline" labelPlacement="stacked" type="text"
        formControlName="contact2"></ion-input>
    </div> -->

  </ng-container>

  </div>
  <div class="global-inner-heading">
    <span>RTO/INSURANCE COST</span>
  </div>
  <div class="global_input_block">
    <ion-input label="RTO Cost" fill="outline" labelPlacement="stacked" type="number"
      formControlName="rto_cost"></ion-input>
  </div>
  <div class="global_input_block">
    <ion-input label="Insurance Cost" fill="outline" labelPlacement="stacked" type="number"
      formControlName="insurance_cost"></ion-input>
  </div>
  <div class="global-inner-heading">
    <span>Estimation</span>
  </div>
  <!-- <div class="global_input_block" >
      <ion-input label="RTO Estimation" fill="outline" labelPlacement="stacked" type="text"
        formControlName="rtoEstimationCost"></ion-input>
    </div> -->
  <div class="global_input_block">
    <ion-input label="Inward Estimation" fill="outline" labelPlacement="stacked" type="text"
      formControlName="inwardEstimationCost"></ion-input>
  </div>


  <div class="global_input_block">
    <ion-input label="Maintainance Estimation" fill="outline" labelPlacement="stacked" type="text"
      formControlName="maintainanceEstimationCost"></ion-input>
  </div>

  <div class="page_submit_btn">
    <ion-button *ngIf="!data" (click)="saveForm()" class="global_submit_color_button dynamic_bgcolor" expand="block">Save</ion-button>
    <ion-button *ngIf="data" (click)="saveForm()" class="global_submit_color_button dynamic_bgcolor" expand="block">Update</ion-button>
  </div>
</form>