<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">Update Transport Status</span>
      </div>
      <div class="right_action">
        <ion-icon class="theme-color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="internal_list_data">
    <ion-list class="list_row">
      <ion-item *ngFor="let chat of chatHistory">
        <ion-label>
          <h2 class="staff_name"><span class="theme-color">{{chat?.staffDetails?.name}}</span> <span
              class="date-time">{{chat?.createdOn}}</span></h2>
          <p>{{chat?.status}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <form [formGroup]="form">
    <div class="chat_box_bottom">
      <div class="button_withtext_block">
        <textarea class="chat-typing" type="text" placeholder="Message" formControlName="status"></textarea>
      </div>
      <div class="right_action_buttons">
        <ion-spinner *ngIf="!loader" class="send_data_loader" color="white"></ion-spinner>
        <ion-icon *ngIf="loader" (click)="onSave()" name="send" class="send-icon"></ion-icon>
      </div>
    </div>
  </form>
</ion-content>