<ion-header>  
  <ion-toolbar>  
    <ion-title>Add Transport Status</ion-title>  
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size"  (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>  
<ion-content class="ion-padding">
<ion-content >
  <ion-list class="height-list" >
  
  <ion-item *ngFor="let chat of chatHistory" >
    <ion-label>
   
    <p><b>{{chat?.staffDetails?.name}}</b> <span class="date-time">{{chat?.createdOn}}</span></p>
    <p class="text-size">{{chat?.status}}</p>
   <p>
  </p>
  </ion-label>
  </ion-item>
  
  
  
  </ion-list>
  <form  [formGroup]="form">
    <div class="chat-box">
    <div >
     
      <input
    
     class="chat-typing"
      type="text"
    formControlName="status"
    
    />
    <ion-spinner *ngIf="loader" class="send-icon" color="primary"></ion-spinner>
    
    <ion-icon *ngIf="!loader"  (click)="onSave()" name="send" class="send-icon"></ion-icon>
    </div>
    </div>
    </form>
  </ion-content>
  
  