<!-- <ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-title>

    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="icon-size dynamic_color" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
     <div class="left_text">
      
     </div>
      <div class="right_action">
        <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding internal_card_container" [ngClass]="listColorClass">
  <app-view-approval-list [listColorClass]="listColorClass" *ngIf="approvalList?.length" [approvalList]="approvalList"
    [showAction]="false" [showSummary]="false"></app-view-approval-list>
  <app-no-data-view [ngClass]="listColorClass"
    *ngIf="!approvalList?.length && !share?.globalLoading"></app-no-data-view>
</ion-content>