.avtar-position{
    position: relative;
    left: 46%;
    top: 50px;
    height: 20px;
    width: 20px;
}
.margin-left{
    margin-left: 20px;
}
.margin-logut{
  
    margin-left: 15px;
    position: relative;
    top: -9px;

}
.font-icon{
    font-size: 28px;
}