

<ion-content >
<ion-item >
    <ion-avatar >
      <img alt="User" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label class="margin-left">{{staffDetails?.name}} </ion-label>
  </ion-item>

  <ion-list  >
    <ion-item >
      <ion-label>
       
       <ion-icon (click)="showAlert()"class="theme-color font-icon" name="log-out-outline"></ion-icon><span class="margin-logut">Logout</span>
      </ion-label>
        </ion-item>
        </ion-list>

    

      </ion-content>
  <!-- <ion-buttons slot="start">
    <ion-button (click)="cancel()">Cancel</ion-button>
  </ion-buttons> -->
 
