    
   <div class="row">
   <div class="col-md-6 col-6 block">
  <ion-card (click)="openDealerPrice()" >
    <img class="image-style" src="././assets/images/rupee-sign.png" />
    <ion-card-header>
      <ion-card-title class="title-style">Dealer Price</ion-card-title>
      <ion-card-subtitle class="sub-title-style">{{tractorDetails?.dealerPrice}}</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </div>
  <!-- <div class="col-md-6 col-6 block">
    <ion-card >
    <img class="image-style" src="././assets/images/rupee-sign.png" />
    <ion-card-header>
      <ion-card-title class="title-style">Dealer Price</ion-card-title>
      <ion-card-subtitle class="sub-title-style">450000</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
</div> -->
</div>