.main_card_block {
    ion-card-content {
        background-color: #f5f5ff;
    }

    .flex_block_container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-bottom: 30px;

        .right_details_block {
            width: 100%;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 120px;
                height: 120px;
                top: -50px;
                left: -40px;
                border-radius: 50%;
                z-index: 0;
                opacity: 0.1;
            }

            &:after {
                content: "";
                position: absolute;
                width: 100px;
                height: 100px;
                bottom: -10px;
                right: -65px;
                transform: rotate(45deg);
                z-index: 0;
                opacity: 0.1;
            }

            ion-card-title {
                font-size: 16px;

                .dynamic_color {
                    font-size: 24px;
                    padding-bottom: 5px;
                    display: flex;
                    letter-spacing: .5px;
                }
            }

            ion-card-subtitle {
                margin: 5px 0px 5px 0px;

                b {
                    span {
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }

        .main_title_text {
            color: #6f6e6e;
            font-size: 14px;

        }
    }
    .card_heading {
        font-size: 16px;
    }

    .tab_main_block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px 10px 0px;
        flex-flow: wrap;

        .tab_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 48%;
            position: relative;
            padding-left: 45px;
            min-height: 65px;

            .tab_icon {
                display: flex;
                align-items: center;
                width: 50px;
                height: 50px;
                justify-content: center;
                border-radius: 50%;
                background: #ffffff;
                border: dashed 1px;
                box-shadow: var(--app-brand-shadow-small);
                position: absolute;
                left: 0px;
                border-right: none;
                z-index: 2;

                ion-icon {
                    font-size: 28px;
                    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.4));
                }
            }

            .tabs {
                width: 100%;
                background: #ffffff;
                padding: 5px 5px 5px 15px;
                display: flex;
                border: dashed 1px;
                border-left: 0px;
                z-index: 2;
                letter-spacing: .5px;

                span {
                    color: #666666;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .left_details_block {
            width: 48%;
            display: flex;
            align-items: center;

            ul {
                margin: 0px;
                list-style: none;
                padding: 0px;
                font-size: 12px;

                li {
                    font-size: 13px;
                }
            }
        }

        .width_auto {
            width: auto;
        }

        .details_tab {
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                width: 1px;
                border-right: dashed 1px;
                right: -12.5%;
                height: 50px;
                top: 50%;
            }

            &:after {
                content: "";
                position: absolute;
                width: 12.5%;
                border-top: dashed 1px;
                right: -12.5%;
                height: 1px;
            }
        }

        .selected_tab {
            font-weight: bold;
        }
    }
}