<ion-header>  
  <ion-toolbar>  
    <ion-title >Dashboard</ion-title>  
   
    <ion-buttons (click)="backToList()" slot="end">
      <ion-icon class="theme-color icon-size"   name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size"  (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>  
</ion-header> 
<ion-content>
<ion-card *ngIf="tractorDetails" color="light">
  <ion-card-header>
    <ion-card-title>{{tractorDetails?.name}}</ion-card-title>
    <ion-card-subtitle>{{tractorDetails?.registractionNo}} 
   </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{tractorDetails?.yearOfManufactoring}} |  {{tractorDetails?.createdOn}}  |  {{tractorDetails?.hours}}
  </ion-card-content>
  <!-- <ion-button  (click)="addStatus(tractorDetails)" fill="clear">
    <ion-icon    class="right-margine theme-color" name="bookmarks-outline"></ion-icon>
  </ion-button>
  <ion-button  (click)="readyConfirmation(tractorDetails)" fill="clear">
    <ion-icon    class="right-margine theme-color" name="checkmark-done-outline"></ion-icon>
  </ion-button> -->
 

</ion-card>
<ion-accordion-group [multiple]="true" [value]="[]">
  <ion-accordion *ngIf="tractorDetails?.tractor_status == 'AT_TRANSPORT' || tractorDetails?.tractor_status == 'AT_REPAIR_CENTER' || tractorDetails?.tractor_status == null" value="third">
    <ion-item slot="header" color="light">
      <ion-label>Basic Details</ion-label>
      
    </ion-item>
  
    <div class="ion-padding" slot="content">
      <ion-list  >
        <ion-item >
          <ion-button  (click)="openEdit()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="create-outline"></ion-icon>
          Edit Details
          </ion-button>
      
        </ion-item>
        <ion-item >
          <ion-button  (click)="startTranspotation()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="car-outline"></ion-icon>
        Transport Start Details
          </ion-button>
      
        </ion-item>
    
       
      </ion-list>
      </div>
      
  </ion-accordion>
  <ion-accordion  *ngIf="tractorDetails?.tractor_status == 'AT_REPAIR_CENTER' || tractorDetails?.tractor_status == null" value="first">
    <ion-item slot="header" color="light">
      <ion-label>Logistic</ion-label>
      
    </ion-item>
  
    <div class="ion-padding" slot="content">
      <ion-list  >
        <ion-item >
          <ion-button  (click)="addCost()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="calculator-outline"></ion-icon>
          Expense
          </ion-button>
      
        </ion-item>
      
        <ion-item >
          <ion-button  (click)="addStatusTransport()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="bookmarks-outline"></ion-icon>
          Remark
          </ion-button>
      
        </ion-item>
        <ion-item >
          <ion-button  (click)="showDeliveryModal()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="storefront-outline"></ion-icon>
          Delivery Details
          </ion-button>
      
        </ion-item>
        <ion-item  *ngIf="tractorDetails?.transportDestinationId!=null" >
          <ion-button  (click)="startRepairing()"  fill="clear">
            <ion-icon   class="right-margine theme-color"  name="construct-outline"></ion-icon>
          Start Reparing Details
          </ion-button>
      
        </ion-item>
       
      </ion-list>
      </div>
      
  </ion-accordion>
  <ion-accordion *ngIf="tractorDetails?.tractor_status == null" value="second">
    <ion-item slot="header" color="light">
      <ion-label>Maintainance</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list  >
        <ion-item >
          <ion-button  (click)="viewImage()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="camera-outline"></ion-icon>
          Image
          </ion-button>
      
        </ion-item>
      
      
      
    
      <ion-item >
        <ion-button  (click)="viewTractorDashboard()"  fill="clear">
          <ion-icon   class="right-margine theme-color" name="camera-outline"></ion-icon>
        Repair Dashboard
        </ion-button>
    
      </ion-item>
    
    
    
    </ion-list>
      </div>
  </ion-accordion>
  <ion-accordion  *ngIf="tractorDetails?.tractor_status == null" value="fourth">
    <ion-item slot="header" color="light">
      <ion-label>Sell Details</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list  >
        <ion-item >
          <ion-button  (click)="addSellDetails()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="cash-outline"></ion-icon>
          Sell Details
          </ion-button>
      
        </ion-item>
      
        <ion-item >
          <ion-button  (click)="addFinanceDetails()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="document-text-outline"></ion-icon>
        Finance Details
          </ion-button>
      
        </ion-item>
        <ion-item >
          <ion-button  (click)="addFinanceDetails()"  fill="clear">
            <ion-icon   class="right-margine theme-color" name="document-text-outline"></ion-icon>
       Upload Documents
          </ion-button>
      
        </ion-item>
    
   
    
    
    
    </ion-list>
      </div>
  </ion-accordion>


</ion-accordion-group>
</ion-content>
