<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">Price</span>
      </div>
      <div class="right_action">
        <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="main_card_block">
  <ion-card-content [ngClass]="listColorClass" *ngIf="tractorDetails">
    <div class="flex_block_container">
      <div class="right_details_block">
        <ion-card-title><span class="dynamic_color">{{tractorDetails?.name}}</span></ion-card-title>
        <ion-card-subtitle>
          <span><b>
              <span>{{ tractorDetails?.registractionNo }}</span>
              <span *ngIf="tractorDetails?.tractor_status">-&nbsp; {{tractorDetails?.tractor_status }}</span>
              <span *ngIf="!tractorDetails?.tractor_status && tractorDetails?.isDraft==0 ">-Live</span>
              <span *ngIf="!tractorDetails?.tractor_status && tractorDetails?.isDraft==1 ">-Draft</span>
              <span *ngIf="tractorDetails?.isSold==1 && tractorDetails?.isSoldToDealer==0">-Sold To Customer</span>
              <span *ngIf="tractorDetails?.isSoldToDealer==1">- Sold To Dealer</span>
              <span *ngIf="tractorDetails?.isSold==0 && tractorDetails?.isSoldToDealer==0">- Not Sold</span>
            </b>
          </span>
        </ion-card-subtitle>
        <span class="main_title_text">
          {{ tractorDetails?.yearOfManufactoring }} | {{ tractorDetails?.createdOn | date }} | {{ tractorDetails?.hours
          }}
        </span>
      </div>
    </div>
    <div class="tab_withinner_block">
      <ion-grid class="main_block_details">
        <ion-card>

          <ion-row>
            <ion-col>Total</ion-col>
            <ion-col class="amount_col">₹ {{ purchaseCost+logisticCost+maintainanaceCost+otherExpenseCost + rtoCost
              +insuranceCost}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>NDP</ion-col>
            <ion-col class="amount_col">₹ {{ purchaseCost+logisticCost+maintainanaceCost+otherExpenseCost + rtoCost
              +insuranceCost+30000}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Selling Price</ion-col>
            <ion-col class="amount_col">₹ {{ purchaseCost+logisticCost+maintainanaceCost+otherExpenseCost + rtoCost
              +insuranceCost+30000+30000}}</ion-col>
          </ion-row>
        </ion-card>
        <div class="ndp-tag-section">
          <div class="ndp-tag-cloud">
            <button
              class="ndp-tag-chip ndp-tag-pill"
              type="button"
              *ngFor="let tag of tagsArray; let i = index"
              [style.--ndp-tag-delay]="i"
              title="{{tag?.tag}}"
            >
              <ion-icon class="ndp-tag-pin" name="pricetag-outline"></ion-icon>
              <span class="ndp-tag-label">{{ tag?.tag }}</span>
            </button>
          </div>
        </div>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-content>
