<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        View All Images
      </div>
      <div class="right_action">
        <ion-icon class="dynamic_color" (click)="dismiss()" name="close"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="image_card_block" [ngClass]="listColorClass">
  <swiper-container [loop]="true" [autoplay]="{ delay: 3000 }" [pagination]="true" [navigation]="true"
    class="image-slider">
    <swiper-slide *ngFor="let img of imageArray">
      <ion-button expand="block" class="dynamic_bgcolor download_btn" (click)="openPDF(img?.imageUrlUrl)">
        <ion-icon slot="start" name="download-outline"></ion-icon>
      </ion-button>
      <ion-card>
        <div class="image-scroll-wrap">
          <img [src]="img?.imageUrlUrl" alt="Slide image" />
        </div>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-content>
