.image_card_block {
  --background: #f5f5ff;
  padding: 10px !important;

  .image-slider {
    width: 100%;
    height: calc(100% - 10px);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;

      ion-card {
        height: 100%;
        max-height: 100%;

        .download_btn {
          position: absolute;
          right: 10px;
          top: 10px;

          ion-icon {
            margin: 0px !important;
          }
        }
      }

      img {
        // height: 100%;
        max-height: 100%;
      }
    }
  }
}

/* Optional: center pagination & style buttons */
swiper-container::part(pagination) {
  bottom: 10px;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: var(--app-primary-color);
}

swiper-container::part(button-prev) {
  left: -10px;
}

swiper-container::part(button-next) {
  right: -10px;
}
