<ion-content class="isl-content">
  <swiper-container #swiperRef [loop]="true" [autoplay]="{ delay: 3000 }" [pagination]="true" class="isl-slider">
    <swiper-slide *ngFor="let img of imageArray">
      <div class="isl-action-bar">
        <button class="isl-icon-btn" type="button" (click)="openPDF(img?.imageUrlUrl)" aria-label="Download">
          <ion-icon name="download-outline"></ion-icon>
        </button>
        <button class="isl-icon-btn isl-delete" *ngIf="showDeleteButton" type="button" (click)="deleteItem(img)"
          aria-label="Delete">
          <ion-icon name="trash-outline"></ion-icon>
        </button>
        <button class="isl-icon-btn isl-close-btn" type="button" (click)="dismiss()" aria-label="Close">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
      <div class="isl-image-wrap">
        <img [src]="img?.imageUrlUrl" alt="Slide image" />
      </div>
    </swiper-slide>
  </swiper-container>

  <button class="isl-nav-btn isl-nav-prev" type="button" (click)="slidePrev()" aria-label="Previous image">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <button class="isl-nav-btn isl-nav-next" type="button" (click)="slideNext()" aria-label="Next image">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </button>
</ion-content>
