.margin-bottom-headline{
    margin-bottom: 10px !important;
}
.position-body{
    position: relative;
    top:20px;
    height: 100%;

}
.tab_withinner_block {
    position: relative;
    top: 45px;
    height: calc(100% - 45px);
    overflow-y: scroll;
}
.block{
    text-align: center;
}
.card-width{
    width: 49%;
}
.image-style{
   margin-top: 14px;
    height: 90px;
    width: 110px;
    position: relative;
    top: 33px;
    
    }

 .succes-tag-line{
    font-weight: 700;
    font-size: 18px;
    margin:10px;
    position: relative;
    top:40px;


 }   
 .top-position{
    position: relative;
    top: 47px;
    margin: 23px;
 }
 .hieght-body{
    height: 100%;
}

.position-select{
position: relative;
    top: 9px;
}
.position-head{
    position: relative;
    top: 9px;
}

.body-form{
    width: 100%;
}