<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>

</ion-app>
 -->

<ion-app>
  <!-- <ion-header>
    <ion-toolbar>    
      <ion-title>Header</ion-title>
    </ion-toolbar>     
  </ion-header> -->

    
   
    <!-- <ion-content > -->
      <ion-router-outlet class="position-content"></ion-router-outlet>
  <!-- </ion-content> -->
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="foo">
            <ion-label>Foo</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="bar">
            <ion-label>Bar</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> -->
<!-- 
<app-footer  ></app-footer> -->

  <!-- <ion-footer>
  
      <app-footer ></app-footer>
 
  </ion-footer> -->
</ion-app>