<form [formGroup]="customerForm">
  <div class="global_input_block">
    <ion-input label="Enter Hours" fill="outline" labelPlacement="stacked" type="text"
      formControlName="hours"></ion-input>
  </div>
  <div class="global_input_block">
    <ion-input label="Enter Customer name" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="text"
      placeholder="Your name" formControlName="name"></ion-input>
  </div>
  <div class="global_input_block">
    <ion-input label="Enter Mobile Number" fill="outline" labelPlacement="stacked" type="text" [readonly]="editData"
      placeholder="Your Number" formControlName="mobileNo"></ion-input>
  </div>
  <div class="global_input_block">
    <ion-select formControlName="customerType" fill="outline" label="Customer Type" label-placement="stacked">
      <ion-select-option value="DIGITAL">Digital</ion-select-option>
      <ion-select-option value="VISITORS">Visitors</ion-select-option>
    </ion-select>
  </div>
  <div *ngIf="customerForm.controls['customerType'].value=='DIGITAL'" class="global_input_block">
    <ion-select formControlName="socialType" fill="outline" label="Platform" label-placement="stacked">
      <ion-select-option value="INSTAGRAME">Instagram</ion-select-option>
      <ion-select-option value="YOUTUBE">Youtube</ion-select-option>
      <ion-select-option value="FACEBOOK">Facebook</ion-select-option>
      <ion-select-option value="JUSTDIAL">JustDial</ion-select-option>
      <ion-select-option value="OTHER">Other</ion-select-option>

    </ion-select>
  </div>
  <!-- <ion-item class="bottom-margin">
    <ion-select  (ionChange)="getCityListFilter()"    formControlName="state_id" label="State" label-placement="type">
      <ion-select-option *ngFor="let state of stateList" [value]="state?.id">{{state?.name}}</ion-select-option>
  
    
  
    </ion-select>
  </ion-item> -->
  <div class="global_input_block global_location_block" (click)="selectItem(this.stateList,'State','state_list')">
    <span class="top_layers">State</span>
    <span class="name_selected">{{stateName}}</span>
    <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
    <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
      <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
    </ion-select> -->
  </div>
  <div class="global_input_block global_location_block" (click)="selectItem(this.cityListFilter,'City','city_list')">
    <span class="top_layers">City</span>
    <span class="name_selected">{{cityName}}</span>
    <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
    <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
          <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
        </ion-select> -->
  </div>
  <div class="global_input_block" *ngIf="!editData">
    <ion-textarea formControlName="remark" label="Remark" fill="outline" labelPlacement="stacked"
      placeholder="write remark here..."></ion-textarea>
  </div>
  <!-- <ion-item  *ngIf="!editData"  class="bottom-margin">
  <ion-select    formControlName="assigned_staff_id" label="Assign To Staff" label-placement="type">
    <ion-select-option *ngFor="let staff of staffList" [value]="staff?.id">{{staff?.name}}</ion-select-option>
  </ion-select>
</ion-item> -->

  <!-- <ion-item>
  <ion-icon class="right-margine" name="add-circle-outline"></ion-icon>
  <ion-select label="Select State" label-placement="state">
    <ion-select-option value="apple">Jabalpur</ion-select-option>
    <ion-select-option value="banana">Bhopal</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>

  </ion-select>
</ion-item>
<ion-item>
  <ion-button class="theme-color-button"  slot="end" id="open-city-modal" expand="block"  fill="outline"> <ion-icon class="theme-color"  class="right-margine" name="add-circle-outline"></ion-icon></ion-button>
  <ion-select label="Select City" label-placement="city">
    <ion-select-option value="apple">Jabalpur</ion-select-option>
    <ion-select-option value="banana">Bhopal</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>
    <ion-select-option value="apple">Apple</ion-select-option>
    <ion-select-option value="banana">Banana</ion-select-option>
    <ion-select-option value="orange">Orange</ion-select-option>

  </ion-select>
</ion-item> -->
  <div class="page_submit_btn">
    <ion-button *ngIf="!editData" (click)="saveForm()" class="global_submit_button" expand="block">Save</ion-button>
    <ion-button *ngIf="editData" (click)="updateForm()" class="global_submit_button" expand="block">Update</ion-button>
  </div>
</form>