<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <!-- (ionChange)="getListByBrand()" -->
        <span class="selected_text">Brand : </span>
        <ion-select class="selected_ddl" (ionChange)="getListByBrand()" [(ngModel)]="selectedBrand" label-placement="type">
          <ion-select-option *ngFor="let type of brandList" [value]="type.id"> {{ type?.name }}</ion-select-option>
        </ion-select>
        <b class="total-number">{{alltractorList?.length}}</b>
      </div>
      <div class="right_action">
                <ion-icon class="theme-color icon-size" (click)="searchTractor()" name="search-outline"></ion-icon>
        <!-- <ion-icon (click)="getListByBrand()" name="create-outline"></ion-icon> -->
        <!-- <ion-icon (click)="getBrandList(true)" name="refresh-outline"></ion-icon> -->
      </div>
    </ion-label>
    <!-- <ion-button  class="button-theme" class="add-button" slot="end" (click)="refreshList()"  fill="outline"><ion-icon class="theme-color" name="refresh-outline" ></ion-icon></ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-item class="bottom-margin">   
  </ion-item> -->
  <!-- <ion-list class="list_row" *ngIf="alltractorList?.length">
    <ion-item *ngFor="let tractor of alltractorList;let in=index">
      <ion-label>
        <h2 class="theme-color">{{tractor?.name}}</h2>
        <p>{{tractor?.yearOfManufactoring}} | {{tractor?.registractionNo}} | {{tractor?.hours}} | {{tractor?.createdOn |
          date }}</p>
      </ion-label>
      <ion-icon (click)="tractorDashboard(tractor)" class="right-margine theme-color-second"
        name="ellipsis-horizontal-circle-outline"></ion-icon>

    </ion-item>
  </ion-list> -->
    
      <app-view-list *ngIf="alltractorList?.length" [rowLineCount]="4" [listColorClass]="listColorClass" [buttonArray]="buttonArray" [keyList]="keyList" [list]="alltractorList" [search]="search" (actionEventCall)="actionEventCall($event)" [searchKey]="'registractionNo'"></app-view-list>
    <app-no-data-view [ngClass]="listColorClass"  *ngIf="!alltractorList?.length && !share?.globalLoading"></app-no-data-view>
</ion-content>