// .left-margin{
//     position: relative;
//     left:20px
//    }

//    :host {
//     ion-button {
      
        
//         --outline-color:var(--app-theme-element-color) !important;
//         --color:var(--app-theme-element-color) !important;
        
//         }}

.top-position-list{
    position: relative;
    top:52px
}
.image-no-data{    
    width: 50%;
    /* padding: 20px; */
    height: 200px;
}
.no-data-block{
    text-align: center;
    position: relative;
    top:44px;
}