<ion-header>  
  <ion-toolbar>
    <ion-title>Heads</ion-title>
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <!-- <ion-button  class="button-theme" class="add-button" slot="end" (click)="refreshList()"  fill="outline"><ion-icon class="theme-color" name="refresh-outline" ></ion-icon></ion-button> -->
  </ion-toolbar> 
</ion-header>  
<ion-content class="ion-padding">


 
  <div class="row">
    <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="masterSheet()" class="image-style" src="././assets/images/google-sheets.png" />
    <ion-card-header >
      <ion-card-title (click)="masterSheet()" class="title-style">Master Sheet</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
</div>
    <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="workSheet()" class="image-style" src="././assets/images/document.png" />
    <ion-card-header >
      <ion-card-title (click)="workSheet()" class="title-style">Work Report</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
</div>
  <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="unsoldReport()" class="image-style" src="././assets/images/tractor_report.png" />
    <ion-card-header >
      <ion-card-title (click)="unsoldReport()" class="title-style">Unsold Tractors</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
</div>
  <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="unsoldReportSpecific()" class="image-style" src="././assets/images/tractor_report.png" />
    <ion-card-header >
      <ion-card-title (click)="unsoldReportSpecific()" class="title-style">Unsold Spec</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
</div>
  <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="salesReport()"  class="image-style" src="././assets/images/market-analysis.png" />
    <ion-card-header >
      <ion-card-title (click)="salesReport()" class="title-style">Sale Report</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
</div>
    <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="leadManagement()" class="image-style" src="././assets/images/lead-generation.png" />
    <ion-card-header >
      <ion-card-title (click)="leadManagement()" class="title-style">Lead Management</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
</div>
   <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="storeManagement()" class="image-style" src="././assets/images/store.png" />
    <ion-card-header >
      <ion-card-title (click)="storeManagement()" class="title-style">Sales Manager</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>

</div>
   <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="TeamManagement()" class="image-style" src="././assets/images/partners.png" />
    <ion-card-header >
      <ion-card-title (click)="TeamManagement()" class="title-style">Terr. Manager</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
  
</div>
 <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="goToSo()" class="image-style" src="././assets/images/audience.png" />
    <ion-card-header >
      <ion-card-title (click)="goToSo()" class="title-style">Sales Officer</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
  
</div>
 <div class="col-md-6 col-6 block">
  <ion-card >
    <img (click)="lastSeen()" class="image-style" src="././assets/images/clock.png" />
    <ion-card-header >
      <ion-card-title (click)="lastSeen()" class="title-style">Last Activity</ion-card-title>
      <!-- <ion-card-subtitle class="sub-title-style">{{jobData?.openJob}}</ion-card-subtitle> -->
    </ion-card-header>
  
  </ion-card>
  
</div>
<!-- <div class="col-md-6 col-6 block">
  <ion-card >
    <img class="image-style" src="././assets/images/close.jpg" />
    <ion-card-header>
      <ion-card-title class="title-style">Closed Job</ion-card-title>
      <ion-card-subtitle class="sub-title-style">{{jobData?.closeJob}}</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
</div>
<div class="col-md-6 col-6 block">
  <ion-card >
    <img class="image-style" src="././assets/images/deleted.png" />
    <ion-card-header>
      <ion-card-title class="title-style">Deleted Jobs</ion-card-title>
      <ion-card-subtitle class="sub-title-style">{{jobData?.deletedJob}}</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
</div>
<div class="col-md-6 col-6 block">
  <ion-card >
    <img class="image-style" src="././assets/images/total.png" />
    <ion-card-header>
      <ion-card-title class="title-style"> Total Jobs</ion-card-title>
      <ion-card-subtitle class="sub-title-style">{{jobData?.openJob+jobData?.closeJob}}</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
</div> -->
</div>
</ion-content>