<ion-header>
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">UnAssigned Tf Code:</span>
        <b class="total-number">{{unAssignedTractorList?.length}}</b>
      </div>
      <div class="right_action">
        <!-- <ion-icon class="theme-color icon-size" (click)="searchTractor()" name="search-outline"></ion-icon> -->
        <ion-icon (click)="refreshList()" name="refresh-outline"></ion-icon>
        <ion-icon (click)="presentModal()" name="cog-outline"></ion-icon>
        <!-- <ion-button style="margin-right: 10px;" class="button-theme add-button right-margine" slot="end"
          (click)="refreshList()" fill="outline"><ion-icon class="theme-color"
            name="refresh-outline"></ion-icon></ion-button> -->
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-searchbar [(ngModel)]="search.name" slot="fixed"
  placeholder="Enter TF Code"></ion-searchbar>
  <!-- <span class="inner-heading-list heading-position">Buffer Stock</span> -->
   <ion-list class="list_row top-position-list" *ngIf="unAssignedTractorList?.length">
    <ion-item *ngFor="let tractor of unAssignedTractorList|filterBy: search ;let in=index">
<div class="block">
    <ion-card>
        <img  (click)="viewImage(tractor)" style="width: 100%;max-height: 186px;padding: 8px;max-width: 200px;" [src]="tractor?.imageUrlUrl" onerror="this.src='././assets/images/tractor_display.png';"  />
  <ion-card-header>
    <ion-card-title><b>{{tractor?.name}}</b></ion-card-title>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
  </ion-card-header>

  <ion-card-content>
      <ion-grid class="main_block_details">
          
            <ion-card>
              <ion-row>
            
                <ion-col><b>Park Location</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.purchasedetail?.parkLocation}}</ion-col>
             
              </ion-row>
         <ion-row>
            
                <ion-col><b>D.O.A(Expected)</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.expectedDateOfArrival}}</ion-col>
             
              </ion-row>
                <ion-row>
            
                <ion-col><b>D.O.A(Actual)</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.actualReleaseDate}}</ion-col>
             
              </ion-row>
              
                 <ion-row>
            
                <ion-col><b>Inward Estimation</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.inwardEstimationCost}}</ion-col>
             
              </ion-row>
              <!-- <ion-row>
            
                <ion-col><b>Purchase Price</b></ion-col>
                   <ion-col class="amount_col">
               {{tractor?.purchasedetail?.purchasePrice}}</ion-col>
              </ion-row> -->
              <!-- <ion-row>
            
                <ion-col>Is Sold </ion-col>
                <ion-col *ngIf="tractor?.isSold==1" class="amount_col">
               <span style="color: green;">Yes</span>  </ion-col>
                 <ion-col *ngIf="tractor?.isSold==0" class="amount_col">
               <span  style="color: red;">No</span>   </ion-col>
              </ion-row> -->
              <ion-row>
            
                <ion-col> <b>Manufactoring</b> </ion-col>
                <ion-col class="amount_col">
               {{tractor?.yearOfManufactoring}}</ion-col>
             
              </ion-row>
              <ion-row>
            
                <ion-col><b>Hours</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.hours}}</ion-col>
             
              </ion-row>

              <ion-row>
            
                <ion-col><b>Registered Date</b></ion-col>
                <ion-col class="amount_col">
                  {{tractor?.createdOn |
                    date }}</ion-col>
             
              </ion-row>
                     <ion-row>
                  <ion-col>
                     <img (click)="assignTF(tractor)" class="image-style " style="width: 50px;height: 40px; margin: 11px;" src="./././assets/images/assigntfcode.png" />
                        </ion-col>
                                <ion-col>
                     <img (click)="overview(tractor)" class="image-style " style="width: 50px;height: 40px; margin: 11px;position: relative;top:-5px" src="./././assets/images/summary.png" />
                     </ion-col>
          
              
              </ion-row>
              <!-- <ion-row>
                  <ion-col>
                     <img class="image-style " style="width: 50px;height: 40px; margin: 11px;" src="././assets/images/space-exploration.png" />
             </ion-col>
                  <ion-col>
                     <img  class="image-style " style="width: 50px;height: 40px; margin: 11px;" src="././assets/images/settings.png" />
                  </ion-col>
              </ion-row> -->
              
         
              <!-- <ion-row>
            
                <ion-col>        <ion-icon (click)="tractorDashboard(tractor)" class="theme-color-second" name="apps-outline"></ion-icon></ion-col>
                <ion-col >
                  <ion-icon (click)="syncManitainance(tractor)"
                  class="theme-color-second" name="construct-outline"></ion-icon></ion-col>
             
              </ion-row> -->
                </ion-card>
                </ion-grid>
  </ion-card-content>
</ion-card>
</div>
</ion-item>
  </ion-list>
  <div *ngIf="(unAssignedTractorList | filterBy: search)?.length === 0" class="no-data-block">
    <img class="image-no-data" src="././assets/images/no-data-found.png" />
  </div>
</ion-content>