<div class="sis-viewer">
  <div class="sis-action-bar">
    <button class="sis-icon-btn" type="button" (click)="openPDF(image?.imageUrlUrl)" aria-label="Download">
      <ion-icon name="download-outline"></ion-icon>
    </button>
    <button class="sis-icon-btn sis-delete" *ngIf="showDeleteButton" type="button" (click)="deleteItem()" aria-label="Delete">
      <ion-icon name="trash-outline"></ion-icon>
    </button>
    <button class="sis-icon-btn sis-close-btn" type="button" (click)="dismiss()" aria-label="Close">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
  <div class="sis-image-wrap">
    <img [src]="image?.imageUrlUrl" />
  </div>
</div>
