.multiple_options_container {
  max-height: 150px;
  overflow: auto;
  display: flex;
  flex-flow: wrap;
  padding-bottom: 20px;

  .checkbox_block {
    padding: 0px 10px;
    border: dashed 1px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    min-height: 36px;
    margin: 0px 15px 10px 0px;

    input {
      font-size: 12px;
    }
  }
}

:host ::ng-deep ion-checkbox::part(label) {
  color: #666666 !important;
}

.margin-set {
  margin-left: 20px;
}

.icon-position {
  position: relative;
  left: 17px;
  font-size: 27px;
}

.tfCOde {
  position: relative;
  left: 32px;
  font-weight: 700;
  top: 0px;
  font-size: 15px;
  color: var(--app-secondary-color);
}


// .inner-heading-small {
//   font-size: 12px;
//   // color: var(--app-secondary-color);
//   color: #666666;
//   width: 100%;
//   display: inline-flex;
//   padding: 10px 10px 10px 16px;
//   background: #f5f5ff;
//   margin-bottom: 8px;
//   top: 0px;

//   border-bottom: solid thin #e1e1e17d;
// }