<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span class="selected_text">Closed Enquiry</span>
      </div>
      <div class="right_action">
        <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding global_bgpopup_container" [ngClass]="listColorClass">
  <form [formGroup]="form">
    <div class="global_input_block">
      <ion-input label="Closing Date" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="date"
        placeholder="Closing Date" formControlName="close_date"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Closing Remark" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="text"
        placeholder="Closing Remark" formControlName="closing_remark"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-toggle (ionChange)="toggleChanged($event)" class="dynamic_toggle_color" formControlName="isBooked">Is
        Booked</ion-toggle>
    </div>
    <ng-container *ngIf="form.controls['isBooked'].value==true||form.controls['isBooked'].value==1">
      <div class="global_input_block global_location_block" (click)="selectItem()">
        <span class="top_layers">Model</span>
        <span class="name_selected">{{modelName}}</span>
        <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
        <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
          <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
        </ion-select> -->
      </div>
      <ng-container>
        <div class="global_input_block">
          <ion-input label="Booked Date" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="date"
            placeholder="Booked Date" formControlName="bookedDate"></ion-input>
        </div>
        <div class="global_input_block">
          <ion-input label="Will Purchase" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="date"
            placeholder="Will Purchase" formControlName="willBuyDate"></ion-input>
        </div>
      </ng-container>
    </ng-container>
    <div class="page_flex_submit_btn">
      <ion-button *ngIf="enquiry.isOpen == 1" (click)="close()" class="global_submit_color_button dynamic_bgcolor">
        <ion-icon class="icon-size" name="close-circle-outline"></ion-icon><span>Close Enquiry</span>
      </ion-button>
      <ion-button *ngIf="enquiry.isOpen == 0" (click)="close()" class="global_submit_color_button dynamic_bgcolor">
        <ion-icon class="icon-size" name="create-outline"></ion-icon><span>Update Enquiry</span></ion-button>
      <ion-button *ngIf="enquiry.isOpen == 0" (click)="restart()"
        class="global_submit_color_button theme-bgcolor-primary">
        <ion-icon class="icon-size" name="refresh-outline"></ion-icon><span>Restart Enquiry</span></ion-button>
    </div>
  </form>
</ion-content>