<ion-header>  
  <ion-toolbar>  
    <ion-title *ngIf="!data">Add New Finding</ion-title>  
    <ion-title *ngIf="data && !isShowOnly" >Update</ion-title>  
    <ion-title *ngIf="isShowOnly" >View Details</ion-title>  
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size"  (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>  
<ion-content class="ion-padding">
<form [formGroup]="newFindingForms">

     <div class="global_input_block">
      <ion-select (ionChange)="getModelsbyBrand()"  formControlName="brand_id" labelPlacement="stacked" fill="outline" label="Select Brand"
        label-placement="stacked">
        <ion-select-option *ngFor="let brand of brandList" [value]="brand.id"> {{ brand?.name }}</ion-select-option>
      </ion-select>
      
    </div>

     <div class="global_input_block select_option_with_add">
      <ion-select formControlName="model_id" labelPlacement="stacked" fill="outline" label="Select Modal"
        label-placement="stacked">
        <ion-select-option *ngFor="let model of modelList" [value]="model.id"> {{ model?.name }}</ion-select-option>
      </ion-select>
      
    </div>
    <div class="global_input_block">
      <ion-input label="Quote By Dealer" fill="outline" labelPlacement="stacked" type="number"
        formControlName="quoteByDealer"></ion-input>
    </div>
        <div class="global_input_block">
      <ion-input label="Quote By TF" fill="outline" labelPlacement="stacked" type="number"
        formControlName="quoteByTf"></ion-input>
    </div>
        <div class="global_input_block">
      <ion-input label="Final Price" fill="outline" labelPlacement="stacked" type="number"
        formControlName="finalPrice"></ion-input>
    </div>

      <div class="global_input_block" *ngIf="yearArray?.length">
    <ion-select formControlName="yearOfManufactoring" fill="outline" label="Manufactoring" label-placement="type">
      <ion-select-option *ngFor="let year of yearArray" [value]="year">{{year}}</ion-select-option>
    </ion-select>
  </div>
        <div class="global_input_block">
      <ion-input      label="Hours" fill="outline" labelPlacement="stacked" type="text"
        formControlName="hours"></ion-input>
    </div>
  <div class="global_input_block">
      <ion-input       label="Registration Number" fill="outline" labelPlacement="stacked" type="text"
        formControlName="registractionNo"></ion-input>
    </div>

    <div class="global_input_block select_option_with_add">
      <ion-select formControlName="dealerId" labelPlacement="stacked" fill="outline" label="Select Dealer"
        label-placement="stacked">
        <ion-select-option *ngFor="let type of dealerList" [value]="type.id"> {{ type?.name }}</ion-select-option>
      </ion-select>
      <div class="right_action_block add_icon">
        <ion-icon (click)="openCrudManagement('DEALER_LIST')" name="add-circle-outline"></ion-icon>
      </div>
      <div class="right_action_block refresh_icon">
        <ion-icon (click)="getDealerList(true)" name="refresh-outline"></ion-icon>
      </div>
    </div>
        <div class="global_input_block" >
  <ion-select 
  formControlName="tyreCondition"        label="Tyre Condition" fill="outline" label-placement="type">
    <ion-select-option value="Poor">0-25%(Poor)</ion-select-option>
    <ion-select-option value="Average">26-50%(Average)</ion-select-option>
    <ion-select-option value="Good">51-75%(Good)</ion-select-option>
    <ion-select-option value="Very_Good">76-100%(Very Good)</ion-select-option>

  

  </ion-select>
  </div>

    <div class="global_input_block" >
  <ion-select   
  formControlName="bodyCondition"  fill="outline"      label="Body Condition" label-placement="type">
    <ion-select-option value="Poor">0-25%(Poor)</ion-select-option>
    <ion-select-option value="Average">26-50%(Average)</ion-select-option>
    <ion-select-option value="Good">51-75%(Good)</ion-select-option>
    <ion-select-option value="Very_Good">76-100%(Very Good)</ion-select-option>

  

  </ion-select>
</div>
     <div class="global_input_block">
      <ion-input  label="Remark" fill="outline" labelPlacement="stacked" type="text"
        formControlName="remark"></ion-input>
    </div>


  <div class="login-button">
  
    <ion-button *ngIf="!data && !isShowOnly" (click)="getPurchaseNumber()"  style="text-align: center;" expand="block" >Save</ion-button>
    <ion-button *ngIf="data && !isShowOnly" (click)="updateForm()"  style="text-align: center;" expand="block" >Update</ion-button>
  </div>
  </form>
</ion-content>