<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">Options</div>
      <div class="right_action">
        <ion-buttons slot="end">
          <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
        </ion-buttons>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<ion-content class="internal_card_container ion-padding" [ngClass]="listColorClass">
  <ion-row>
    <ion-col  (click)="goToUplodeSection('SALE_DEAD')" class="global_image_upload_section_col" size="6"
      size-md="6">
      <div class="image_block">
        <img class="image-style" src="././assets/images/envelope.png" />
      </div>
      <div class="middle_border"></div>
      <ion-card class="global_image_upload_card">
        <ion-title class="title">Sale Dead (Pic)</ion-title>
      </ion-card>
    </ion-col>
    <ion-col [ngClass]="listColorClass" (click)="goToUplodeSection('ADHAR_CARD')" class="global_image_upload_section_col" size="6"
      size-md="6">
      <div class="image_block">
        <img class="image-style" src="././assets/images/identity-card.png" />
      </div>
      <div class="middle_border"></div>
      <ion-card class="global_image_upload_card">
        <ion-title class="title">Adhar Card (Pic)</ion-title>
      </ion-card>
    </ion-col>
    <ion-col [ngClass]="listColorClass" (click)="goToUplodeSection('PAN_CARD')" class="global_image_upload_section_col" size="6"
      size-md="6">
      <div class="image_block">
        <img class="image-style" src="././assets/images/pass.png" />
      </div>
      <div class="middle_border"></div>
      <ion-card class="global_image_upload_card">
        <ion-title class="title">Pan Card (Pic)</ion-title>
      </ion-card>
    </ion-col>
    <ion-col [ngClass]="listColorClass" (click)="goToUplodeSection('BAHI_KHATA')" class="global_image_upload_section_col" size="6"
      size-md="6">
      <div class="image_block">
        <img class="image-style" src="././assets/images/identification-card.png" />
      </div>
      <div class="middle_border"></div>
      <ion-card class="global_image_upload_card">
        <ion-title class="title">Bahi Khata (Pic)</ion-title>
      </ion-card>
    </ion-col>
    <ion-col [ngClass]="listColorClass" (click)="goToUplodeSection('FORM_34')" class="global_image_upload_section_col" size="6" size-md="6">
      <div class="image_block">
        <img class="image-style" src="././assets/images/online-survey.png" />
      </div>
      <div class="middle_border"></div>
      <ion-card class="global_image_upload_card">
        <ion-title class="title">Form 34</ion-title>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- <div (click)="goToUplodeSection('SALE_DEAD')" class="block margin-body">
    <span class="succes-tag-line">Sale Dead (Pic)</span>
  </div>
  <div (click)="goToUplodeSection('SALE_DEAD')" class=" block">
    <img class="image-style" src="././assets/images/envelope.png" />
  </div> 
  <div (click)="goToUplodeSection('ADHAR_CARD')" class="block margin-body">
    <span class="succes-tag-line">Adhar Card (Pic)</span>
  </div>
  <div (click)="goToUplodeSection('ADHAR_CARD')" class=" block">
    <img class="image-style" src="././assets/images/identity-card.png" />
  </div>
  <div (click)="goToUplodeSection('PAN_CARD')" class="block margin-body">
    <span class="succes-tag-line">Pan Card (Pic)</span>
  </div>
  <div (click)="goToUplodeSection('PAN_CARD')" class=" block">
    <img class="image-style" src="././assets/images/pass.png" />
  </div>
  <div (click)="goToUplodeSection('BAHI_KHATA')" class="block margin-body">
    <span class="succes-tag-line">Bahi Khata (Pic)</span>
  </div>
  <div (click)="goToUplodeSection('BAHI_KHATA')" class=" block">
    <img class="image-style" src="././assets/images/identification-card.png" />
  </div>
  <div (click)="goToUplodeSection('FORM_34')" class="block margin-body">
    <span class="succes-tag-line">Form 34</span>
  </div>
  <div (click)="goToUplodeSection('FORM_34')" class=" block">
    <img class="image-style" src="././assets/images/online-survey.png" />
  </div>-->
</ion-content>