<ion-header>
  <ion-toolbar>
    <ion-title>Select Material</ion-title>

    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->

    <ion-button
      class="button-theme"
      class="add-button"
      slot="end"
      (click)="openCrudManagement('MATERIAL_OF_REPAIRING')"
      id="open-modal"
      expand="block"
      fill="outline"
      ><ion-icon class="theme-color" name="add-circle-outline"></ion-icon
    ></ion-button>
    <ion-buttons slot="end">
      <ion-icon
        class="theme-color icon-size"
        (click)="dismiss()"
        name="close-circle-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar  [(ngModel)]="search" ></ion-searchbar>
<form [formGroup]="form">
<ion-item class="bottom-margin">
  <ion-input
    label="Date Of Expense"
    labelPlacement="stacked"
    type="date"
 formControlName="expense_date"

  ></ion-input>
</ion-item>

<ion-item class="bottom-margin">
  <ion-icon (click)="openCrudManagement('REPAIRINGCENTER')" name="add-circle-outline"></ion-icon>
  <ion-icon (click)="getRepairingCenterList(true)" name="refresh-outline"></ion-icon>
  <ion-select  formControlName="repairing_center"    label="Repairing Center" label-placement="type">
    <ion-select-option *ngFor="let rep of repairingCenterList" [value]="rep.id">    {{ rep?.name }}</ion-select-option>

  </ion-select>
</ion-item>
</form>
<ion-content class="checkboxhieght">
<ng-container *ngFor="let material of materialList | searchItem : ['name'] : search">
  <ion-checkbox [checked]="material?.checked" (ionChange)="checkedAction($event,material)" class="left-marging" labelPlacement="end"
  ><span class="font-size-heading font-family-all">{{material?.name}}</span><span class="font-size-price font-family-all">&nbsp; ₹ {{material?.price}}</span>
<br/>

    </ion-checkbox
>
<div class="border-price">
  <ion-icon (click)="qtyUp(material)" class="theme-color add-font-size" name="add-outline"></ion-icon><span class="qty-class">{{material?.qty}}</span><ion-icon  (click)="qtyDown(material)" class="theme-color remove-font-size"  name="remove-outline"></ion-icon>
</div>
<br/>
</ng-container>

<!-- <ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/> -->


</ion-content>

<div class="login-button bottom-margin-button">

  <ion-button *ngIf="!editData"   (click)="saveData()"  style="text-align: center;" expand="block" ><span class="color-white">Save</span></ion-button>
  <ion-button  *ngIf="editData"  (click)="updateData()"  style="text-align: center;" expand="block" ><span class="color-white">Update</span></ion-button>

</div>