<ion-header>
  <ion-toolbar>
    <ion-title>Select Material</ion-title>

    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->

    <ion-button
      class="button-theme"
      class="add-button"
      slot="end"
      (click)="openCrudManagement('MATERIAL_OF_REPAIRING')"
      id="open-modal"
      expand="block"
      fill="outline"
      ><ion-icon class="theme-color" name="add-circle-outline"></ion-icon
    ></ion-button>
    <ion-buttons slot="end">
      <ion-icon
        class="theme-color icon-size"
        (click)="dismiss()"
        name="close-circle-outline"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar  [(ngModel)]="search" ></ion-searchbar>
<ion-content>
<ng-container *ngFor="let material of materialList | searchItem : ['name'] : search">
  <ion-checkbox class="left-marging" labelPlacement="end"
  ><span class="font-size-heading font-family-all">{{material?.name}}</span><span class="font-size-price font-family-all">&nbsp; ₹ {{material?.price}}</span></ion-checkbox
>
<br/>
</ng-container>
<!-- <ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/>
<ion-checkbox class="left-marging" labelPlacement="end"
><span class="font-size-heading font-family-all">Clutch</span><span class="font-size-price font-family-all">&nbsp; ₹ 4500</span></ion-checkbox
>
<br/> -->


</ion-content>
