
<ion-header>  
  <ion-toolbar>  
    <ion-title >Update Password</ion-title>

    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size"  (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>  
<ion-content class="ion-padding">
<form [formGroup]="form">
  
       <div class="global_input_block ">
  <ion-item class="bottom-margin">
    <ion-input
      label="Enter Old Password"
      labelPlacement="stacked"
      type="text"
    
    formControlName="oldPassword"
    ></ion-input>
  </ion-item>
  </div>
         <div class="global_input_block ">
   <ion-item class="bottom-margin">
    <ion-input
      label="Enter New Password"
      labelPlacement="stacked"
      type="text"
    
    formControlName="newPassword"
    ></ion-input>
  </ion-item>
 </div>
     <div class="global_input_block ">
   <ion-item class="bottom-margin">
    <ion-input
      label="Confirm New Password"
      labelPlacement="stacked"
      type="text"
    
    formControlName="confirmNewPassword"
    ></ion-input>
  </ion-item>
 </div>
  <div class="login-button">

    <ion-button  (click)="updatePassword()"  style="text-align: center;" expand="block" >Update</ion-button>

  </div>

</form></ion-content>
