<ion-header>
  <ion-toolbar>
    <ion-title>Update Password</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <div class="global_input_block bottom-margin">
      <ion-input label="Enter Old Password" placeholder="Old Password" fill="outline" labelPlacement="stacked" type="text"
        formControlName="oldPassword"></ion-input>
    </div>
    <div class="global_input_block bottom-margin">
      <ion-input label="Enter New Password" fill="outline" placeholder="New Password" labelPlacement="stacked" type="text"
        formControlName="newPassword"></ion-input>
    </div>
    <div class="global_input_block bottom-margin">
      <ion-input label="Confirm New Password" fill="outline" placeholder="Retype New Password" labelPlacement="stacked" type="text"
        formControlName="confirmNewPassword"></ion-input>
    </div>
    <div class="page_submit_btn">
      <ion-button (click)="updatePassword()" class="global_submit_button" expand="block">Update</ion-button>
    </div>
  </form>
</ion-content>