.icon-size-add{
    font-size: 30px;
  }
  .block{
    text-align: center;
}
.card-width{
    width: 49%;
}
.image-style{
   margin-top: 14px;
    height: 90px;
    width: 110px;
    position: relative;
    top: 33px;
    
    }

 .succes-tag-line{
    font-weight: 700;
    font-size: 18px;
    margin:10px;
    position: relative;
    top:40px;


 }   
 .top-position{
    position: relative;
    top: 47px;
    margin: 23px;
 }
 .margin-body{
    margin-top: 20px !important;
 }