      <ion-content  class="ion-padding "> 
      <form [formGroup]="form" class="margin-top">

   <div  class="global_input_block">
    <ion-select  formControlName="visitng_type" fill="outline" label="Purchasing Possibility" label-placement="stacked">
      <ion-select-option value="NOT_INTRESTED"><b style="color: red;">Not Intrested</b></ion-select-option>
      <ion-select-option value="WILL_VISIT"><b style="color: yellow;">Will Visit</b></ion-select-option>
      <ion-select-option value="VISITED"><b style="color: yellow;">Visited</b></ion-select-option>
    </ion-select>
  </div>
   <div *ngIf="(form.controls['visitng_type'].value=='WILL_VISIT' ||form.controls['visitng_type'].value=='VISITED')" class="global_input_block">
    <ion-input label="Select Date" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="date"
      placeholder="elect Date" formControlName="visiting_date"></ion-input>
  </div>
    <div class="global_input_block" >
    <ion-textarea formControlName="remark" label="Remark" fill="outline" labelPlacement="stacked"
      placeholder="write remark here..."></ion-textarea>
  </div>
  </form>
   <div class="page_submit_btn">
    <ion-button  (click)="saveForm()" class="global_submit_button" expand="block">Save</ion-button>

  </div>
  </ion-content>