<ion-header>  
  <ion-toolbar>  
    <ion-title >Search</ion-title>  
  
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size"  (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>

  </ion-toolbar>  
</ion-header>  
<ion-content class="ion-padding">
  <div  class="global_input_block input-position">
    <ion-select (ionChange)="resetData()" [(ngModel)]="searchBy"  fill="outline" label="Search By" label-placement="stacked">
      <ion-select-option value="NUMBER">By Number</ion-select-option>
      <ion-select-option value="NAME">By Name</ion-select-option>
      <ion-select-option value="STATE">By State</ion-select-option>
      <ion-select-option value="CITY">By City</ion-select-option>
      <ion-select-option value="DATE">By Date</ion-select-option>
      <ion-select-option value="VISITORS">By Visitors</ion-select-option>
      <ion-select-option value="DEMAND">By Demand</ion-select-option>
   </ion-select>
  </div>
  <div *ngIf="searchBy=='NAME' || searchBy=='NUMBER'" class="top-position">
  <ion-searchbar (ionFocus)="onInputFocus()" (ionBlur)="focusOut()" [(ngModel)]="search.name" slot="fixed"
  placeholder="Search Customer"></ion-searchbar>
</div>
<div *ngIf="searchBy=='STATE' || searchBy=='CITY'" class="global_input_block global_location_block" (click)="selectItem(this.stateList,'State','state_list')">
  <span class="top_layers">State</span>
  <span class="name_selected">{{stateName}}</span>
  <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
  <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
    <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
  </ion-select> -->
</div>
<div *ngIf="searchBy=='CITY'"  class="global_input_block global_location_block" (click)="selectItem(this.cityListFilter,'City','city_list')">
  <span class="top_layers">City</span>
  <span class="name_selected">{{cityName}}</span>
  <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
  <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
        <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
      </ion-select> -->
</div>
<div *ngIf="searchBy=='DATE'"  >
    <form [formGroup]="form">
  <div class="row top-position">

    <div class="col-md-6 col-6">
      <div class="global_input_block">
        <ion-input label="Start Date *" fill="outline" formControlName="startDate" labelPlacement="stacked" type="date" ></ion-input>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <div class="global_input_block">
        <ion-input label="End Date *" fill="outline" formControlName="endDate" labelPlacement="stacked" type="date" ></ion-input>
      </div>
    </div>

  </div>

</form>
</div>
<div *ngIf="searchBy=='VISITORS'"  >
  <div  class="global_input_block input-position">
    <ion-select [(ngModel)]="visitType"  fill="outline" label="Visit Type" label-placement="stacked">
      <ion-select-option value="WILL_VISIT">Will Come</ion-select-option>
      <ion-select-option value="VISITED">Visited</ion-select-option>
 
   </ion-select>
  </div>
      <form [formGroup]="form">
  <div class="row top-position">

    <div class="col-md-6 col-6">
      <div class="global_input_block">
        <ion-input label="Start Date *" fill="outline" formControlName="startDate" labelPlacement="stacked" type="date" ></ion-input>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <div class="global_input_block">
        <ion-input label="End Date *" fill="outline" formControlName="endDate" labelPlacement="stacked" type="date" ></ion-input>
      </div>
    </div>

  </div>

</form>
</div>
<div *ngIf="searchBy=='DEMAND'"  >

      <form [formGroup]="form">
  <div class="row top-position">

    <div class="col-md-6 col-6">
      <div class="global_input_block">
        <ion-input label="Start Date *" fill="outline" formControlName="startDate" labelPlacement="stacked" type="date" ></ion-input>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <div class="global_input_block">
        <ion-input label="End Date *" fill="outline" formControlName="endDate" labelPlacement="stacked" type="date" ></ion-input>
      </div>
    </div>

  </div>

</form>
</div>
<div class="button-style">
  <ion-button class="button"  (click)="searchCustomer()" expand="block">Search</ion-button>

</div>
<hr/>
<div *ngIf="searchBy=='NUMBER' ||searchBy=='NAME' ">
  <ng-container *ngFor="let cus of customerData;let in=index">
    <ion-item [ngClass]="{'warning_row': !cus?.leadsChat?.length}">
      <ion-label>
        <h2 class="theme-color">{{cus?.name}}
           <!-- <ion-icon class="right_warning_icon" *ngIf="!cus?.leadsChat?.length"
            name="warning"></ion-icon> -->
          </h2>
        <p>{{cus?.mobileNo}}-{{cus?.customerType}}</p>
      </ion-label>
      <!-- <ion-label>{{cus?.name}}</ion-label>
  <ion-label>{{cus?.mobileNo}}</ion-label> -->
  <div class="list_right_action">
    <ion-icon *ngIf="cus?.customerType!=='ONLINE'" (click)="addCustomer(cus,in)" name="create-outline"></ion-icon>
    <ion-icon (click)="addRemark(cus)" class="theme-color" name="chatbubbles-outline"></ion-icon>
    <ion-icon (click)="viewCustomer(cus)" class="right-margine theme-color-second " name="eye"></ion-icon>
  </div>
    </ion-item>
  </ng-container>
</div>
<div *ngIf="customerList?.length && (searchBy=='STATE' || searchBy=='CITY'  || searchBy=='DATE' ||  searchBy=='VISITORS' ||  searchBy=='DEMAND')" class="row">
  <!-- <div class="col-6 col-md-6 ">
<ion-button   (click)="generatePDF()" class="global_submit_button button-width" expand="block">Genrate Pdf</ion-button>
</div> -->
<!-- <div class="col-6 col-md-6">

</div> -->
<div class="button-style">
<ion-button class="button" (click)="generateExcel()" class="global_submit_button button-width" expand="block">Genrate Excel</ion-button>

</div>
</div>
<div class="scroll"  *ngIf="(searchBy=='STATE' || searchBy=='CITY' || searchBy=='DATE' ||  searchBy=='VISITORS' ||  searchBy=='DEMAND') && customerList?.length" id="customerDataReport" class="top-margin scroll" style="width: 100%;">
  <!-- <div class="top_header" style="margin: 15px 0px; text-align: center;">
    <img id="imageLogo" src="././assets/images/tflogoPdf.png" height="50px;width:150px" />
  </div> -->


  <table cellpadding="5" cellspacing="5" style="width: 100%;">
    <tbody>
      <tr>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;font-weight: 500;">State
          State</th>
        <td style="border: 1px solid #ddd;padding: 5px 10px;">{{recordStatename}} </td>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;font-weight: 500;">City</th>
        <td *ngIf="searchBy=='CITY'" style="border: 1px solid #ddd;padding: 5px 10px;">{{recordCityname}}</td>
        <td *ngIf="searchBy!='CITY'" style="border: 1px solid #ddd;padding: 5px 10px;">-</td>
      </tr>
      <tr>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;font-weight: 500;">Total Customer</th>
        <td style="border: 1px solid #ddd;padding: 5px 10px;">{{customerList?.length}}</td>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;font-weight: 500;">Print By</th>
        <td style="border: 1px solid #ddd;padding: 5px 10px;">{{staffDetails?.name}}</td>
      
      </tr>
       <tr *ngIf="searchBy=='DATE' ||  searchBy=='VISITORS' ||  searchBy=='DEMAND'">
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;font-weight: 500;">Start Date</th>
        <td style="border: 1px solid #ddd;padding: 5px 10px;">{{form.controls['startDate'].value}}</td>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;font-weight: 500;">End Date</th>
        <td style="border: 1px solid #ddd;padding: 5px 10px;">{{form.controls['endDate'].value}}</td>
      
      </tr>
         <tr>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;font-weight: 500;">Report Type</th>
        <td style="border: 1px solid #ddd;padding: 5px 10px;">{{this.searchBy}}</td>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;font-weight: 500;"></th>
        <td style="border: 1px solid #ddd;padding: 5px 10px;"></td>
      
      </tr>

   
    </tbody>
  </table>
  <h2 style="text-align: center;margin: 10px 0px;" >Customer List</h2>
  <table cellpadding="5" cellspacing="5" style="width: 100%;color: #666666;">
    <tbody>
      <tr style="border: 1px solid #e1e1e1;padding: 8px;text-align: left;">
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px; text-align: center;">#</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px; text-align: center;">Date</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;">Name</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;">Mobile No.</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;text-align: center;">Type</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;text-align: center;">Platform</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;text-align: center;">Requirement</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;text-align: center;">Requirement Date</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;text-align: center;">Visting Status</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;text-align: center;">Visit Date</th>
        <th style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;text-align: center;">Visit Remark</th>
        <th  style="background-color: #f4f4f4;border: 1px solid #ddd;padding: 5px 10px;text-align: center;">City</th>
    

      </tr>
      <tr *ngFor="let cus of customerList;let cusInd=index"
        style="border: 1px solid #e1e1e1;text-align: left" >
        <td style="text-align: center;">{{cusInd+1}}</td>
        <td style="text-align: center;">{{cus?.createdOn}}</td>
        <td style="padding: 5px 10px;">{{cus?.name}}</td>
        <td style="padding: 5px 10px;">{{cus?.mobileNo}}</td>
        <td style="padding: 5px 10px;">{{cus?.customerType}}</td>
        <td style="padding: 5px 10px;">{{cus?.socialType}}</td>
        <td style="padding: 5px 10px;">{{cus?.lastDemand?.demand ||'-'}}</td>
        <td style="padding: 5px 10px;">{{cus?.lastDemand?.createdOn ||'-'}}</td>
        <td style="padding: 5px 10px;">{{cus?.lastVisitingStatus?.visitng_type ||'-'}}</td>
        <td style="padding: 5px 10px;">{{cus?.lastVisitingStatus?.visiting_date ||'-'}}</td>
        <td style="padding: 5px 10px;">{{cus?.lastVisitingStatus?.remark ||'-'}}</td>
        <td  style="padding: 5px 10px;">{{cus?.cityDetails?.name}}</td>
     
      
      </tr>
      <!-- <tr>
        <td colspan="3"  style="padding: 5px 10px;">
          {{catTotal[expenseHeader[0]]}}
        </td>
        <div *ngFor="let head of expenseHeader;let indi=index">
          <div  *ngIf="indi>0" >
            <td style="padding: 5px 10px;">
              {{catTotal[expenseHeader[0]]}}
            </td> 

          </div>
        </div>
     
      </tr> -->
    
    </tbody>
  </table>




</div>

</ion-content>
