// .top-position{
//     position: relative;
//     top: -7px;
// }
// .input-position{
//     position: relative;
//     top: 9px;
// }
// .button-style{
//     width: 100%;
//     display: flex;
//   justify-content: center;

// }
// .scroll{
//     overflow-x: scroll;
//     width: 100%;
// }
// .button{
//     --background: var(--app-theme-element-color) !important;
//     --border-color: var(--app-theme-element-color) !important;
//     --color: white !important;
//     width: 50%;
// }
// .top-position{
//     margin-top: 10px;
// }
// .margin-body{
//     margin-left: 10px;
// }
// .top-margin{
// position: relative;

// }
// .button-width{
//     width: 100% !important;

// }

.search_filter_popup_block {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-right: 55px;
    padding-bottom: 10px;
    flex-flow: wrap;

    .filter_block {
        padding: 0px 10px 15px 0px;
        width: 50%;
        display: flex;
    }

    form {
        width: 100%;
        display: flex;
    }

    .global_location_block {
        min-height: 45px;
    }

    .search_block {
        width: 50%;

        ion-searchbar {
            padding: 0px;
            border: solid thin #cccccc;
            border-radius: 5px;
            overflow: hidden;
            min-height: 45px;
            background: #ffffff;
        }
    }

    .global_input_block {
        padding-bottom: 0px;
        margin: 0px;
    }

    .search_button {
        margin: 0px;
        margin: 0px;
        border-radius: 8px;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 46.5px;
    }
}

.excel_generate_btn_block {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    width: 100%;
}

.table_data_contain_block {
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;

    table {
        width: 100%;
        margin-bottom: 10px;

        th,
        td {
            font-size: 12px !important;
        }
    }
}