<ion-header>  
  <ion-toolbar>  
    <ion-title *ngIf="!data">Add Other Expense</ion-title>  
    <ion-title *ngIf="data" >Update Other Expense</ion-title>  
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size"  (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>  
<ion-content class="ion-padding">
<form [formGroup]="form">
  <ion-item class="bottom-margin">
    <ion-icon (click)="openCrudManagement('OTHER_EXPENSE_TYPE')" name="add-circle-outline"></ion-icon>
    <ion-icon (click)="getExpense()" name="refresh-outline"></ion-icon>
    <ion-select    formControlName="expense_id" label="Expense Type" label-placement="type">
      <ion-select-option *ngFor="let type of expenseTypeList" [value]="type.id">    {{ type?.name }}</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item class="bottom-margin">
    <ion-input
      label="Expense Amount"
      labelPlacement="stacked"
      type="number"
   
    formControlName="expense_amount"
    ></ion-input>
  </ion-item>
  <ion-item class="bottom-margin">
    <ion-input
      label="Expense Date"
      labelPlacement="stacked"
      type="date"
   
    formControlName="expense_date"
    ></ion-input>
  </ion-item>
  <div class="login-button">

    <ion-button *ngIf="!data" (click)="saveExpense()"  style="text-align: center;" expand="block" >Save</ion-button>
    <ion-button *ngIf="data" (click)="updateItem()"  style="text-align: center;" expand="block" >Update</ion-button>
  </div>
</form>
</ion-content>
