<ion-header>
  <ion-toolbar>
    <ion-title class="jd-title">Finance Department</ion-title>

  </ion-toolbar>
  <div class="jd-header-art">
    <span class="jd-orb jd-orb-one"></span>
    <span class="jd-orb jd-orb-two"></span>
  </div>
</ion-header>
<ion-content class="ion-padding jd-content">
  <div class="jd-grid">
    <div class="jd-stat-card jd-card-open" (click)="financeReport()">
      <div class="jd-icon-wrap">
        <img class="jd-icon-img" src="././assets/images/bank.png" />
      </div>
      <div class="jd-stat-body">
        <span class="jd-stat-label">Finance</span>
        <!-- <span class="jd-stat-value">{{jobData?.openJob}}</span> -->
      </div>
    </div>

    <div class="jd-stat-card jd-card-closed" (click)="payoutReport()">
      <div class="jd-icon-wrap">
        <img class="jd-icon-img" src="././assets/images/broker.png" />
      </div>
      <div class="jd-stat-body">
        <span class="jd-stat-label">Payout</span>
        <!-- <span class="jd-stat-value">{{jobData?.closeJob}}</span> -->
      </div>
    </div>
<!-- 
    <div class="jd-stat-card jd-card-deleted">
      <div class="jd-icon-wrap">
        <img class="jd-icon-img" src="././assets/images/3D/deleted.png" />
      </div>
      <div class="jd-stat-body">
        <span class="jd-stat-label">Deleted Jobs</span>
        <span class="jd-stat-value">{{jobData?.deletedJob}}</span>
      </div>
    </div>

    <div class="jd-stat-card jd-card-total">
      <div class="jd-icon-wrap">
        <img class="jd-icon-img" src="././assets/images/3D/total.png" />
      </div>
      <div class="jd-stat-body">
        <span class="jd-stat-label">Total Jobs</span>
        <span class="jd-stat-value">{{jobData?.openJob+jobData?.closeJob}}</span>
      </div>
    </div>
        <div (click)="openJobCardActiviyLog()" class="jd-stat-card jd-card-total">
      <div class="jd-icon-wrap">
        <img class="jd-icon-img" src="././assets/images/puzzle-pieces.png" />
      </div>
      <div class="jd-stat-body">
        <span class="jd-stat-label">Activity Logs</span>
        <span class="jd-stat-value">50</span>
      </div>
    </div> -->
  </div>
</ion-content>
