// .right-margin {
//   margin-right: 4px;
// }

// .left-margin {
//   position: relative;
//   left: 20px
// }

// .font-wieght {
//   font-weight: 700;
// }

// .body-map {
//   position: relative;
//   top: 55px;
//   height: calc(100% - 50px);
//   overflow-y: scroll;
// }

// .form-height {
//   height: calc(100% - 50px);
//   overflow-y: scroll;
// }

// .hieght-body {
//   height: 100%;
// }

// :host {
//   ion-button {


//     --outline-color: var(--app-theme-element-color) !important;
//     --color: var(--app-theme-element-color) !important;

//   }

//   ion-checkbox {
//     --checkbox-background-checked: var(--app-theme-element-color) !important;
//     --border-color-checked: var(--app-theme-element-color) !important;
//   }
// }

// .add-button {
//   position: relative;
//   right: 10px;
// }

// .button-theme {
//   border-color: var(--app-theme-element-color) !important;

//   ion-button {
//     --background: var(--app-theme-element-color) !important;
//     --border-color: var(--app-theme-element-color) !important;
//     --outline-color: var(--app-theme-element-color) !important;
//     --color: white !important;

//   }
// }

// .color-white {
//   color: white !important;
// }

// .price-font-size {
//   font-size: 7px;
// }

.searchList {
  width: 100%;
  left: 0px;
  max-height: 210px;
  min-height: 100px;
  height: 210px;
  overflow: auto;
  top: 50px;
  position: absolute;
  z-index: 10;
  // background-color: lightgray;
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.top-position {
  position: relative;
  top: 118px;
}

.top-position-search {
  position: relative;
  top: 25px;
}

// .label-position {
//   position: relative;
//   top: 61px;
//   left: 10px;

// }

// .text-align {
//   text-align: center;
//   position: relative;
//   top: 12px
// }

.service_selected_amount_block {
  position: relative;
  top: 50px;
}

.button-right-margin {
  margin-right: 10px;
}

.page_inner_container {
  padding: 25px;
  --background: #f5f5ff;

  .inner-heading {
    font-size: 16px;
    color: #666666;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #dbdbdb3b;
    margin-bottom: 20px;
    border-bottom: solid thin rgba(225, 225, 225, 0.4901960784);
    border-radius: 5px;
    border: solid thin #afafaf;
    text-transform: capitalize;
  }

  .not_found_block {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    top: 60px;
    position: relative;

    small {
      color: #858585;
    }

    .dynamic_bgcolor {
      margin-top: 20px;
    }
  }
}