.heading-position{
    position: relative;
    top: 48px;
}
.top-position-list{
    position: relative;
    top:52px
}
.image-no-data{    
    width: 50%;
    /* padding: 20px; */
    height: 200px;
}
.no-data-block{
    text-align: center;
    position: relative;
    top:44px;
}