.heading-position {
    position: relative;
    top: 48px;
}

.top-position-list {
    position: relative;
    top: 52px
}

.image-no-data {
    width: 50%;
    /* padding: 20px; */
    height: 200px;
}

.no-data-block {
    text-align: center;
    position: relative;
    top: 44px;
}

.block {
    text-align: center;
    width: 100%;
}

.app_common_header {
    position: relative;
}

.more_rows {
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: relative;
    width: 50px;
    height: 32px;
  transition: transform 0.2s ease, filter 0.2s ease;
    ion-icon {
        position: absolute;
        font-size: 24px;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
      
    }

    .top_arrow {
        top: -10px;
    }

    .bottom_arrow {
        bottom: -6px;
    }

    .dots_icon {
        top: 5px;
        left: 4.5px;
        font-size: 16px;
    }
    &:hover {
        transform: translateY(-2px) scale(1.08);

        .dots_icon {
            left: 3.5;
        }

    }
}