<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-label class="top_heading">
      <div class="left_text">
        <span *ngIf="listBy==='BUFFER'" class="selected_text">Buffer Stock :</span>
        <span *ngIf="listBy==='ARCHIVED'" class="selected_text">Archived:</span>
        <b class="total-number">{{buffertractorList?.length}}/{{allFilterList?.length}}</b>
        <span class="more_rows" (click)="expandListEvent()" *ngIf="allFilterList?.length && (buffertractorList?.length<allFilterList?.length)">
          <ion-icon class="unfold_icon top_arrow dynamic_color" name="chevron-up-outline"></ion-icon>
          <ion-icon class="dots_icon dynamic_color" name="ellipsis-vertical-outline"></ion-icon>
          <ion-icon class="unfold_icon bottom_arrow dynamic_color" name="chevron-down-outline"></ion-icon>
        </span>
      </div>
      <div class="right_action">
        <ion-icon class="theme-color icon-size" (click)="searchTractor()" name="search-outline"></ion-icon>
        <ion-icon (click)="refreshList()" name="refresh-outline"></ion-icon>
        <ion-icon (click)="presentModal()" name="cog-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-toolbar>
</ion-header>
<!-- <app-common-header class="app_common_header" [listColorClass]="listColorClass" [listBy]="listBy" [buffertractorList]="buffertractorList" ></app-common-header> -->
<ion-content>
  <app-view-list *ngIf="buffertractorList?.length" [rowLineCount]="4" [listColorClass]="listColorClass"
    [buttonArray]="buttonArray" [keyList]="keyList" [list]="buffertractorList" [search]="search"
    (actionEventCall)="actionEventCall($event)" [searchKey]="'registractionNo'"></app-view-list>
  <app-no-data-view *ngIf="!buffertractorList?.length && !share?.globalLoading"></app-no-data-view>
  <!-- <ion-searchbar [(ngModel)]="search.registractionNo" slot="fixed"
  placeholder="Enter TF Code"></ion-searchbar>

  <ion-list class="list_row top-position-list" >
    <ion-item *ngFor="let tractor of buffertractorList |filterBy: search ;let in=index">
      <div class="block">
    <ion-card>
        <img  (click)="viewImage(tractor)" style="width: 100%;max-height: 186px;padding: 8px;max-width: 200px;" [src]="tractor?.imageUrlUrl" onerror="this.src='./././assets/images/tractor_display.png';"  />
  <ion-card-header>
    <ion-card-title><b>{{tractor?.name}}</b></ion-card-title>

  </ion-card-header>

  <ion-card-content>
      <ion-grid class="main_block_details">
          
            <ion-card>
             
                 <ion-row>
            
                <ion-col><b>TF Code</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.registractionNo}}</ion-col>
             
              </ion-row>
    
              <ion-row>
            
                <ion-col><b>Transported Place</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.transportDestination?.name}}</ion-col>
             
              </ion-row>
    
              <ion-row>
            
                <ion-col><b>Franchise(Alloted)</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.franchiseDettails?.name}}</ion-col>
             
              </ion-row>
                <ion-row>
            
                <ion-col><b>D.O.A(Actual)</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.actualReleaseDate}}</ion-col>
             
              </ion-row>
              
              <ion-row>
            
                <ion-col> <b>Manufactoring</b> </ion-col>
                <ion-col class="amount_col">
               {{tractor?.yearOfManufactoring}}</ion-col>
             
              </ion-row>
              <ion-row>
            
                <ion-col><b>Hours</b></ion-col>
                <ion-col class="amount_col">
               {{tractor?.hours}}</ion-col>
             
              </ion-row>

              <ion-row>
            
                <ion-col><b>Registered Date</b></ion-col>
                <ion-col class="amount_col">
                  {{tractor?.createdOn |
                    date }}</ion-col>
             
              </ion-row>
                     <ion-row>
                  <ion-col>
                     <img (click)="tractorDashboard(tractor)"  class="image-style " style="width: 45px;height: 35px; margin: 11px;" src="./././assets/images/dashboard.png" />
                        </ion-col>
                                <ion-col>
                     <img (click)="syncManitainance(tractor)" class="image-style " style="width: 50px;height: 40px; margin: 11px;position: relative;top:-5px" src="./././assets/images/sync.png" />
                     </ion-col>
                            <ion-col>
                     <img (click)="tractorViewDetail(tractor)" class="image-style " style="width: 50px;height: 40px; margin: 11px;position: relative;top:-5px" src="./././assets/images/visual.png" />
                     </ion-col>
                    <ion-col>
                     <img (click)="deleteItem(tractor)" class="image-style " style="width: 50px;height: 40px; margin: 11px;position: relative;top:-5px" src="./././assets/images/deleted.png" />
                     </ion-col>
              
              </ion-row>
         
                </ion-card>
                </ion-grid>
  </ion-card-content>
</ion-card>
</div>
  

    </ion-item>
  </ion-list>
  <div *ngIf="(buffertractorList | filterBy: search)?.length === 0" class="no-data-block">
    <img class="image-no-data" src="././assets/images/no-data-found.png" />
  </div> -->

</ion-content>