/*
 * App Global CSS
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
:root {
  --app-bg-color: var(--app-bg-color);
  --app-primary-color: var(--app-theme-element-color);
  --app-secondary-color: var(--app-theme-element-color-second);
  --app-guest-color: var(--app-theme-color-third);
  // --app-brand-font: 'Montserrat, sans-serif';
  --app-brand-font: 'Poppins', sans-serif;
  --app-brand-shadow: 0px 11px 19px rgba(0, 0, 0, .2);
  --app-brand-shadow-small: 0px 5px 5px rgba(0, 0, 0, .2);
  --ion-default-font: 'Poppins', sans-serif;
  --gradian-color-primary: linear-gradient(90deg, #92e2ff 0%, #1dbef9 100%);
  --gradian-color-secondary: linear-gradient(90deg, #FFD099 0%, #FE9B4B 100%);
  --gradian-color-third: linear-gradient(90deg, #7395CF 0%, #3C5073 100%);
  --gradian-color-fourth: linear-gradient(90deg, #4c6ef5 0%, #45597A 100%);
  --gradian-color-mixed1: linear-gradient(90deg, #92e2ff 0%, #FFD099 100%);
  --gradian-color-mixed2: linear-gradient(90deg, #7395CF 0%, #FE9B4B 100%);
  --gradian-color-mixed3: linear-gradient(90deg, #1dbef9 0%, #FFD099 100%);
  --gradian-color-mixed4: linear-gradient(90deg, #92e2ff 0%, #92e2ff 100%);
  --gradian-brand-shadow: 0px 11px 19px rgba(0, 0, 0, .8);
  --gradian-brand-shadow-small: 0px 5px 5px rgba(0, 0, 0, .5);
}

* {
  font-family: var(--app-brand-font) !important;
  font-size: 14px;
}

ion-icon {
  font-size: 22px;
  cursor: pointer;
}

@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// @import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
// @import "@ionic/angular/css/normalize.css";
// @import "@ionic/angular/css/structure.css";
// @import "@ionic/angular/css/typography.css";
// @import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
// @import "@ionic/angular/css/padding.css";
// @import "@ionic/angular/css/float-elements.css";
// @import "@ionic/angular/css/text-alignment.css";
// @import "@ionic/angular/css/text-transformation.css";
// @import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

.theme-color {
  // color: var(--app-theme-element-color) !important;
  color: var(--app-primary-color) !important;
}

.theme-color-background,
.theme-bgcolor-primary {
  // background-color: var(--app-theme-element-color) !important;
  background-color: var(--app-primary-color);
}

.theme-bgcolor-secondary {
  // color: var(--app-theme-element-color-second) !important;
  background-color: var(--app-secondary-color);
}

.theme-color-second {
  // color: var(--app-theme-element-color-second) !important;
  color: var(--app-secondary-color) !important;
}

.theme-color-third {
  // color: var(--app-guest-color) !important;
  color: var(--app-guest-color);
}

app-salary-slip {
  background: #f5f5ff;
  overflow: auto;
}

.global_input_block {
  padding-bottom: 20px;
  width: 100%;

  ion-input,
  ion-select {
    min-height: 45px !important;
    font-size: 14px;
    color: #666666;
    background: #ffffff;

    input {
      font-size: 12px !important;
    }
  }

  ion-select {
    font-size: 12px;
  }
}

.global_location_block {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: solid thin #b1b1b1;
  border-radius: 5px;
  padding: 11px 15px;
  color: #666666;
  margin-bottom: 20px;
  position: relative;
  transition: .5s all;
  font-size: 12px;

  .name_selected,
  .arrow_right {
    font-size: 12px;
    min-height: 20px;
  }

  .top_layers {
    position: absolute;
    top: -8px;
    font-size: 10px;
    background: #ffffff;
    padding: 0px 5px;
    left: 10px;
  }
}

.select_option_with_add {
  display: flex;
  align-items: center;

  .right_action_block {
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 10px;
    box-shadow: var(--app-brand-shadow-small);
  }

  .add_icon {
    background: var(--app-primary-color);
  }

  .refresh_icon {
    background: var(--app-secondary-color);
  }
}

.bottom_img {
  background-image: url(../src/assets/images/bottom_bg.png);
}

.login_main_container {
  background-image: url(../src/assets/images/login_bg.png);
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(https://colorlib.com/etc/lf/Login_v4/images/bg-01.jpg);

  .global_input_block {
    padding-bottom: 30px;

    ion-input {
      border-radius: 6px;
    }

    .label-text-wrapper {
      background: #ffffff;
      padding: 3px 10px 0px 10px;
      border-radius: 5px 5px 0px 0px;
      border-top: solid 2px #141414;


    }
  }
}

// .eye_password {
//   background: var(--app-primary-color) !important;
//   border-color: var(--app-primary-color) !important;
//   color: var(--app-primary-color) !important;

//   button {
//     background: var(--app-primary-color) !important;
//     border-color: var(--app-primary-color) !important;
//     color: var(--app-primary-color) !important;

//     .button-inner {
//       background: var(--app-primary-color) !important;
//       border-color: var(--app-primary-color) !important;
//       color: var(--app-primary-color) !important;
//     }
//   }

//   ion-icon {
//     color: var(--app-primary-color) !important;
//   }


// }
.whatsapp-color {
  color: #25d366;
}

.top_heading {
  padding: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left_text {
    display: flex;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;

    .selected_text {
      margin-right: 8px;
    }

    .selected_ddl {
      margin-right: 8px;
    }

    .global_datetextbox {
      border: solid thin #e1e1e1;
      border-radius: 5px;
      padding: 5px 10px;
      color: #666666;
    }
  }

  .right_action {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ion-icon {
      font-size: 22px;
      margin-right: 10px;
      color: var(--app-secondary-color);
    }
  }
}

.displaynone {
  display: none;
}

.icon-size {
  font-size: 24px;
}

.internal_card_container {
  --background: #f5f5ff;
}

.inner-heading-list {
  font-size: 14px;
  // color: var(--app-secondary-color);
  color: #666666;
  width: 100%;
  display: inline-flex;
  padding: 10px 10px 10px 16px;
  background: #f5f5ff;
  position: sticky;
  top: 0px;
  z-index: 1;
  border-bottom: solid thin #e1e1e17d;
}

.list_row {
  padding: 0px;

  .item-native {
    padding: 0px;
  }

  .list_imgbox {
    margin: 10px 15px 5px 0px;
  }

  .list_right_action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    ion-icon {
      margin: 0px 4px;
      color: #bbb9b9;
    }

    .small_icon20 {
      font-size: 20px;
    }
  }

  ion-item {
    border-bottom: dashed 1px #e1dfdf;
    --inner-border-width: 0px;
  }

  h2 {
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }

  .warning_row {
    --background: #f4433624;

    h2 {
      .right_warning_icon {
        margin-left: 5px;
        color: #F44336;
      }
    }
  }

  .selected_model {
    --background: #f5f5ff !important;
  }
}

.login-button {
  position: relative;
  top: 20px;
  height: 50px;
  width: 100%;
  text-align: center;

  ion-button {
    --background: var(--app-theme-element-color) !important;
    --border-color: var(--app-theme-element-color) !important;
    --color: white !important;

  }
}

.global_submit_button {
  position: relative;
  --background: var(--app-theme-element-color) !important;
  --border-color: var(--app-theme-element-color) !important;
  --color: white !important;
  min-height: 45px;
  width: 100%;
  margin: 0px;
}

.no_found_text_block {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 30px 20px;
  max-width: 300px;
  border: dashed 1px #e1e1e1;
  border-radius: 5px;
  margin: 15px auto;
  background: #ffffff;

  .no_found_text_block {
    display: flex;
    align-items: center;
    flex-flow: column;
    color: #666666;
    margin-bottom: 25px;

    ion-icon {
      font-size: 40px;
      margin-bottom: 5px;
      color: #F44336;
    }
  }

  .global_submit_button {
    max-width: 150px;
    min-height: 36px;
  }
}

ion-header {
  box-shadow: none !important;
}

.page_loader {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.3);
}

.heading-list {
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 5px;
  color: var(--app-theme-element-color) !important;
}

.font-family-all {
  font-family: var(--app-brand-font);
}

.bottom_footer_row {
  // border-top: solid 5px var(--app-primary-color);
  border-radius: 15px 15px 0px 0px;
  box-shadow: #0003 0 3px 3px -2px, #00000024 0 3px 4px, #0000001f 0 1px 8px;
  height: 70px;

  .footer_text {
    // font-size: 16px;
    color: #666666;
  }

  ion-icon {
    font-size: 28px;
  }

  .selected_tabs {
    // color: var(--app-primary-color);
    font-weight: 500;
    position: relative;

    .inner_text {
      color: #ffffff;
      z-index: 2;
      position: relative;
    }

    &:before {
      content: "";
      background-color: var(--app-primary-color);
      left: calc(50% + 5px);
      position: absolute;
      width: 200%;
      height: 150px;
      border-radius: 100%;
      top: -4px;
      animation: wave 5s infinite linear;
      transition: all 1s;
      z-index: 1;
      min-width: 100px;
    }
  }
}

.footer_tabs {
  .bottom_footer_row {
    border-top: solid 5px var(--app-primary-color);
    border-radius: 15px 15px 0px 0px;
    box-shadow: #0003 0 3px 3px -2px, #00000024 0 3px 4px, #0000001f 0 1px 8px;
  }

  ion-tab-button {
    ion-icon {
      margin-bottom: 3px;
    }
  }
}

.accordian_card {
  ion-accordion {
    ion-item {

      ion-icon {
        font-size: 20px;
        color: #666666;
        margin-right: -5px;
      }
    }
  }
}


.inner_text {
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.active {
  .inner_text {
    display: none;
  }
}

.firstColor {
  // background: #9c4de2;

  &:after {
    background: #9c4de2;
    content: "";
    width: 100%;
    height: calc(100% - 20px);
    left: 0px;
    position: absolute;
  }

  .selected {
    background: #9c4de2;
  }
}

.secondColor {
  &:after {
    background: #FE9B4B;
    content: "";
    width: 100%;
    height: calc(100% - 20px);
    left: 0px;
    position: absolute;
  }

  .selected {
    background: #FE9B4B;
  }
}

.thirdColor {
  &:after {
    background: #07d;
    content: "";
    width: 100%;
    height: calc(100% - 20px);
    left: 0px;
    position: absolute;
  }

  .selected {
    background: #07d;
  }
}

ion-header {
  ion-title {
    font-size: 16px;
  }

  .icon-size {
    font-size: 24px;
    margin-right: 5px;
  }
}

.inner-tabs {
  background-color: var(--app-bg-color);

  ion-tab-bar {
    display: flex;
    height: 45px;
    background: #f5f5ff;
    padding: 0px 5px 0px 5px;

    ion-tab-button {
      height: 20px;
      display: flex;
      min-height: 30px;
      background: transparent;
    }
  }

  .tabs {
    font-size: 12px;
    white-space: nowrap;
  }

  .selected_tab {
    color: #ffffff !important;
    background-color: var(--app-primary-color) !important;
    border-radius: 3px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, .2);

    .tabs {
      color: #ffffff !important;
    }
  }
}

.page_inner_container {
  padding-top: 25px;
}

.custom-fullscreen-modal {
  --width: 100vw;
  --height: 100vh;

  &::part(content) {
    height: 100%;
    width: 100%;
    background: #fff;
    animation: slideInSlightlyFromRight 300ms ease forwards;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0;
  }

  &::part(backdrop) {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

// ion-tab-button {
//   position: relative;
//   overflow: hidden;

//   ion-label {
//     position: relative;
//     z-index: 2;
//   }

//   &::after {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 200%;
//     height: 50%;
//     background: radial-gradient(circle at 50% 100%, #a48cff 60%, transparent 100%);
//     animation: wave 2s infinite linear;
//     transform: translateX(-50%);
//     z-index: 1;
//   }

//   &.tab-selected::after {
//     opacity: 1;
//   }
// }
@keyframes wave {
  0% {
    transform: translate(-50%) rotate(-180deg);
  }

  100% {
    transform: translate(-50%) rotate(360deg);
  }
}

@keyframes slideInSlightlyFromRight {
  from {
    transform: translateX(10%); // slightly offset
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
ion-tab-button::part(native) {
  overflow: visible !important;
}