<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-title>
      <ion-select class="selected_ddl" (ionChange)="optionActionEventCall()" [(ngModel)]="selectedType"
        label-placement="type">
        <ion-select-option value="PENDING">Pending</ion-select-option>
        <ion-select-option value="APPROVED">Approved</ion-select-option>
        <ion-select-option value="REJECTED">Rejected</ion-select-option>
        <ion-select-option value="ALL">All</ion-select-option>
      </ion-select>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="icon-size dynamic_color" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding internal_card_container" [ngClass]="listColorClass">
  <div class="notification_container">
    <ion-row>
      <ion-col size="12" size-md="6">
        <div class="notification_block">
          <span class="notification_title"><span class="dynamic_color">Eicher
              485</span><small>15-Nov-2025</small></span>
          <div class="internal_block">
            <span>Request Amount For Sale: 4500000</span>
            <span>Expected Date: 25 june 2025</span>
            <div class="notification_desc">Unko last price h finance h</div>
          </div>
          <span class="notification_status pending_color"><span>Status : PENDING</span><small>15-Nov-2025</small></span>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="notification_block" size="12" size-md="6">
          <span class="notification_title"><span class="dynamic_color">Eicher
              485</span><small>15-Nov-2025</small></span>
          <div class="internal_block">
            <span>Request Amount For Sale: 4500000</span>
            <span>Expected Date: 25 june 2025</span>
            <div class="notification_desc">Unko last price h finance h</div>
          </div>
          <span class="notification_status rejected_color"><span>Status :
              PENDING</span><small>15-Nov-2025</small></span>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="notification_block" size="12" size-md="6">
          <span class="notification_title"><span class="dynamic_color">Eicher
              485</span><small>15-Nov-2025</small></span>
          <div class="internal_block">
            <span>Request Amount For Sale: 4500000</span>
            <span>Expected Date: 25 june 2025</span>
            <div class="notification_desc">Unko last price h finance h</div>
          </div>
          <span class="notification_status approved_color"><span>Status :
              PENDING</span><small>15-Nov-2025</small></span>
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <div class="notification_block" size="12" size-md="6">
          <span class="notification_title"><span class="dynamic_color">Eicher
              485</span><small>15-Nov-2025</small></span>
          <div class="internal_block">
            <span>Request Amount For Sale: 4500000</span>
            <span>Expected Date: 25 june 2025</span>
            <div class="notification_desc">Unko last price h finance h</div>
          </div>
          <span class="notification_status pending_color"><span>Status : PENDING</span><small>15-Nov-2025</small></span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>