<ion-header>
  <ion-toolbar>
    <form [formGroup]="nextScheduleForm">
      <ion-label class="top_heading">
        <div class="left_text">
          <span class="selected_text"> Remark NSD :</span>
          <input type="date" class="global_datetextbox" formControlName="next_lead_date"
            (change)="nextFollowupDate()" />
        </div>
        <div class="right_action">
          <ion-icon class="theme-color icon-size" (click)="cancel()" name="close-circle-outline"></ion-icon>
        </div>
      </ion-label>
    </form>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-add-remark [data]="customer"></app-add-remark>
</ion-content>