<!-- <app-header></app-header> -->
<div>
<div class="row">
  <div class="col-md-6 col-6">
<ion-card class="card-width card-height" color="success">
  <ion-card-header>
    <ion-card-title>Customer Management</ion-card-title>
    <ion-card-subtitle>Add/Remark</ion-card-subtitle>
  </ion-card-header>

  <!-- <ion-card-content> Card Content </ion-card-content> -->
</ion-card>
</div>
<div class="col-md-6 col-6">
<ion-card  class="card-width card-height" color="warning">
  <ion-card-header>
    <ion-card-title>Follow-up Management</ion-card-title>
    <ion-card-subtitle>Follow-Up Leads</ion-card-subtitle>
  </ion-card-header>
  
<!-- 
  <ion-card-content> Card Content </ion-card-content> -->
</ion-card>
</div>
<div class="col-md-6 col-6">
<ion-card class="card-width card-height" color="danger">
  <ion-card-header>
    <ion-card-title>Online Mangement</ion-card-title>
    <ion-card-subtitle>Online Customer</ion-card-subtitle>
  </ion-card-header>
<!-- 
  <ion-card-content> Card Content </ion-card-content> -->
</ion-card>
</div>
<div class="col-md-6 col-6">
<ion-card class="card-width card-height" color="secondary">
  <ion-card-header>
    <ion-card-title>Daily Report</ion-card-title>
    <ion-card-subtitle>Day wise Report</ion-card-subtitle>
  </ion-card-header>

  <!-- <ion-card-content> Card Content </ion-card-content> -->
</ion-card>
</div>
</div>
</div>


