.card-width{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.inline-blok{
    display: inline;
}
.card-height{
    height: 100px;
}
.dashboard{
    position: relative;
    top: -172px;
}