
    
    <ion-tabs  >
      <ion-tab-bar slot="bottom">
        <!-- <ion-tab-button tab="home">
          <ion-icon name="play-circle"></ion-icon>
          Listen Now
        </ion-tab-button> -->
        <ion-tab-button (click)="goToPage('New-findings')" tab="Customer">
          <ion-icon *ngIf="selectedTab!=='New-findings'" class="theme-color" name="people-outline"></ion-icon>
          <ion-icon *ngIf="selectedTab=='New-findings'"  class="theme-color" name="people"></ion-icon>
          Finding
        </ion-tab-button>
        <ion-tab-button (click)="goToPage('Cost-prediction')" tab="Customer">
          <ion-icon *ngIf="selectedTab!=='Cost-prediction'" class="theme-color" name="cash-outline"></ion-icon>
          <ion-icon *ngIf="selectedTab=='Cost-prediction'"  class="theme-color" name="cash"></ion-icon>
          Cost Prediction
        </ion-tab-button>
        
        <!-- <ion-tab-button (click)="goToPage('Logistic')" tab="Follow-Up">
          <ion-icon *ngIf="selectedTab=='Logistic'" class="theme-color" name="bookmarks"></ion-icon>
          <ion-icon  *ngIf="selectedTab!=='Logistic'" class="theme-color" name="bookmarks-outline"></ion-icon>
        Logistic
        </ion-tab-button>
        <ion-tab-button (click)="goToPage('Maintainance')" tab="Follow-Up">
          <ion-icon *ngIf="selectedTab=='Maintainance'" class="theme-color" name="construct"></ion-icon>
          <ion-icon  *ngIf="selectedTab!=='Maintainance'" class="theme-color" name="construct-outline"></ion-icon>
          Maintenance
        </ion-tab-button>
        <ion-tab-button (click)="goToPage('Live')" tab="User" >
          <ion-icon  *ngIf="selectedTab!=='Live'" class="theme-color" name="list-circle-outline"></ion-icon>
          <ion-icon  *ngIf="selectedTab=='Live'" class="theme-color" name="list-circle"></ion-icon>
          Live
        </ion-tab-button> -->
        <!-- <ion-tab-button (click)="goToPage('Report')" tab="Reports">
          <ion-icon  *ngIf="selectedTab=='Report'" class="theme-color" name="book"></ion-icon>
          <ion-icon *ngIf="selectedTab!=='Report'"  class="theme-color" name="book-outline"></ion-icon>
      Reports
        </ion-tab-button> -->
        <ion-tab-button (click)="goToPage('User')" tab="User" >
          <ion-icon  *ngIf="selectedTab!=='User'" class="theme-color" name="person-circle-outline"></ion-icon>
          <ion-icon  *ngIf="selectedTab=='User'" class="theme-color" name="person-circle"></ion-icon>
          User
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>