<ion-header>
  <ion-toolbar>
    <ion-title>Finance Details</ion-title>
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="theme-color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="internal_card_container ion-padding">
  <ion-card class="card_based_data">
    <div class="inner-heading-list">
      <span>Finance Details</span>
    </div>
    <ion-row>
      <ion-col><b>Bank Name :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.bankDetails?.name}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Finance Amount :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.financeAmount}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Down Payment :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.downPayment}}</ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="card_based_data">
    <div class="inner-heading-list">
      <span>Disbursal Details</span>
    </div>
    <ion-row>
      <ion-col><b>First Disbursal :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.first_disbursal}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>First Disbursal Date :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.first_disbursal_date}}</ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col><b>Second Disbursal :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.second_disbursal}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Second Disbursal Date</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.second_disbursal_date}}</ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="card_based_data">
    <div class="inner-heading-list">
      <span>Other </span>
    </div>
    <ion-row>
      <ion-col><b>Net Market :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.net_market}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>OutStanding :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.outstanding}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>FI Done :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.isFIDone}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><b>Entry Fill By :</b></ion-col>
      <ion-col class="amount_col">
        {{financeData?.staffName}}</ion-col>
    </ion-row>
  </ion-card>
</ion-content>