<ion-header [ngClass]="listColorClass">
  <ion-toolbar>
    <ion-title *ngIf="!enquiry">Add Enquiry</ion-title>
    <ion-title *ngIf="enquiry">Update Enquiry</ion-title>
    <!-- <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons slot="end">
      <ion-icon class="dynamic_color icon-size" (click)="dismiss()" name="close-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding global_bgpopup_container" [ngClass]="listColorClass">
  <form [formGroup]="form" *ngIf="form">
    <div class="margin-bottom-headline">
      <span class="global-inner-heading">Customer Details</span>
    </div>
    <div class="global_input_block">
      <ion-input label="Enter Customer name" fill="outline" labelPlacement="stacked" labelPlacement="stacked"
        type="text" placeholder="Customer name" formControlName="customerName"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-input label="Enter Mobile Number" fill="outline" labelPlacement="stacked" type="text"
        placeholder="Customer Number" formControlName="mobileNo"></ion-input>
    </div>
    <div class="global_input_block global_location_block" (click)="selectItem(this.stateList,'State','state_list')">
      <span class="top_layers">State</span>
      <span class="name_selected">{{stateName}}</span>
      <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
      <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
      <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
    </ion-select> -->
    </div>
    <div class="global_input_block global_location_block" (click)="selectItem(this.cityListFilter,'City','city_list')">
      <span class="top_layers">City</span>
      <span class="name_selected">{{cityName}}</span>
      <ion-icon class="arrow_right" name="caret-down-outline"></ion-icon>
      <!-- <ion-select    formControlName="city_id" label="State" label-placement="type">
          <ion-select-option *ngFor="let city of cityListFilter" [value]="city?.id">{{city?.name}}</ion-select-option>
        </ion-select> -->
    </div>
    <div class="global_input_block">
      <ion-input label="Enter Village" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="text"
        placeholder="Enter Village" formControlName="village"></ion-input>
    </div>
    <div class="margin-bottom-headline">
      <span class="global-inner-heading">Requirement</span>
    </div>
    <div class="global_input_block">
      <ion-select formControlName="strength" fill="outline" label="Lead Temperature" label-placement="stacked">
        <ion-select-option value="HOT">Hot</ion-select-option>
        <ion-select-option value="WARM">Warm</ion-select-option>
        <ion-select-option value="COLD">Cold</ion-select-option>
      </ion-select>
    </div>
    <div class="addModel">
      <div [ngClass]="[getModel()?.length ? '' : 'margin-bottom-headline']">
        <span class="global-inner-heading">
          <span>Selected Model</span>
          <ion-icon (click)="selectModelList()" class="dynamic_color" name="add-circle-outline"></ion-icon></span>
      </div>
      <ion-grid class="main_block_details" *ngIf="getModel()?.length">
        <ion-card class="global_table_block_details">
          <ion-row class="table_main_header dynamic_bgcolor">
            <ion-col class="item_name_col">Model Name</ion-col>
            <ion-col class="availability_col">Availaible</ion-col>
            <ion-col class="actions_col">Actions</ion-col>
          </ion-row>
          <!-- <ng-container *ngFor="let model of getModel()">
            <ion-item>
              <ion-label>
                <h3>{{model?.name}}
                  <ion-icon (click)="deleteModel(model)" class="theme-color" name="trash-outline"></ion-icon>
                </h3>
                <p *ngIf="model?.availaibility?.length">{{model?.availaibility?.length || 0}} Availaible <ion-icon
                    (click)="viewModel(model)" class="theme-color" name="eye-outline"></ion-icon></p>
                <p *ngIf="!model?.availaibility?.length">Opps,It Seems No Stock Avalaible</p>
              </ion-label>
            </ion-item>            
          </ng-container> -->
          <ion-row class="table_row" *ngFor="let model of getModel()">
            <ion-col class="item_name_col">{{model?.name}}</ion-col>
            <ion-col class="availability_col">
              <span *ngIf="model?.availaibility?.length">{{model?.availaibility?.length || 0}}</span>
              <span *ngIf="!model?.availaibility?.length">No Stock Avalaible</span>
            </ion-col>
            <ion-col class="actions_col">
              <ion-icon *ngIf="model?.availaibility?.length" (click)="viewModel(model)"
                class="dynamic_color action_icon" name="eye-outline"></ion-icon>
              <ion-icon (click)="deleteModel(model)" class="delete_color action_icon" name="trash-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>

      <div class="margin-bottom-headline" *ngIf="!form.controls['modal_ids']?.value?.length">
        <div class="dynamic_block" [ngClass]="listColorClass">
          <app-no-data-view [title]="'No Model Selected.'" [subtitleShow]="false"></app-no-data-view>
        </div>
      </div>
    </div>
    <div class="global_input_block">
      <ion-input label="Other" fill="outline" labelPlacement="stacked" labelPlacement="stacked" type="text"
        placeholder="Other" formControlName="other"></ion-input>
    </div>
    <div class="global_input_block">
      <ion-select formControlName="inStoke" fill="outline" label="Availaibility" label-placement="stacked">
        <ion-select-option value="IN_STOCK">In Stock</ion-select-option>
        <ion-select-option value="DEMAND">Demand</ion-select-option>
      </ion-select>
    </div>
    <div class="global_input_block">
      <ion-textarea formControlName="remark" label="Remark" class="bg_white" fill="outline" labelPlacement="stacked"
        placeholder="write remark here..."></ion-textarea>
    </div>
    <div class="page_submit_btn">
      <ion-button *ngIf="!enquiry" (click)="save()" class="global_submit_color_button dynamic_bgcolor">
        <ion-icon class="icon-size" name="add-circle-outline"></ion-icon><span>Add New Enquiry</span>
      </ion-button>
      <ion-button *ngIf="enquiry" (click)="update()" class="global_submit_color_button dynamic_bgcolor">
        <ion-icon class="icon-size" name="create-outline"></ion-icon><span>Update Enquiry</span>
      </ion-button>
    </div>
  </form>
</ion-content>