<ion-header>
    
  <ion-toolbar>
    <div class="left-margin">
    <ion-label >
      <h2>Total</h2>
      <p><b class="total-number">{{customerList?.length}}</b></p>
    </ion-label> 
  
  </div>
  
  <!-- <ion-label >
    <h2>D</h2>
    <p><b class="total-number">{{digital?.length}}</b></p>
  </ion-label> 
  <ion-label >
    <h2>O</h2>
    <p><b class="total-number">{{online?.length}}</b></p>
  </ion-label> 
  <ion-label >
    <h2>V</h2>
    <p><b class="total-number">{{visitors?.length}}</b></p>
  </ion-label>  -->
  <ion-button  class="button-theme" class="add-button" slot="end" (click)="refreshList()"  fill="outline"><ion-icon class="theme-color" name="refresh-outline" ></ion-icon></ion-button>
  
    <ion-button class="button-theme" class="add-button" slot="end" (click)="dataClear()" id="open-modal" expand="block" fill="outline"><ion-icon class="theme-color" name="person-add-outline" ></ion-icon></ion-button>

  </ion-toolbar>     
</ion-header>
<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content>
      
    </ion-refresher-content>
  </ion-refresher>
  
  <!-- <ion-searchbar [(ngModel)]="search" slot="fixed" placeholder="Search Customer"></ion-searchbar> -->
  
<ion-list *ngIf="customerList?.length && showData" >
  <ion-item *ngFor="let cus of customerList| searchItem : ['name','mobileNo'] : search;let in=index">
    <ion-label>
    <h2>{{cus?.name}}</h2>
    <p>{{cus?.mobileNo}}-{{cus?.customerType}}-{{cus?.createdOn}}-{{cus?.followUpDate?.next_lead_date}}- <span *ngIf="cus?.leadsChat?.length" style="color: green;">Action Taken</span>
      <span *ngIf="!cus?.leadsChat?.length" style="color: red;">No Action Taken</span></p>
  </ion-label>
    <!-- <ion-label>{{cus?.name}}</ion-label>
    <ion-label>{{cus?.mobileNo}}</ion-label> -->

    <ion-icon  *ngIf="cus?.customerType!=='ONLINE'" (click)="openEdit(cus,in)" class="right-margine theme-color" name="create-outline"></ion-icon>
  
    <ion-icon  (click)="addReview(cus,in)"  class="right-margine theme-color-second"name="chatbubbles-outline"></ion-icon>
    <ion-icon (click)="nextFollowup(cus,in)"  class="right-margine theme-color-third"name="reorder-three-outline"></ion-icon>
  </ion-item>


</ion-list>
<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">

  <ng-template>
    <ng-container  *ngIf="modelType=='CUSTOMER'">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons> -->
        <ion-title>Add Customer</ion-title>
        <ion-buttons slot="end">
          <ion-icon class="theme-color"  (click)="cancel()" name="close-circle-outline"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
   <app-add-customer *ngIf="showAddComp && staffList?.length" [staffList]="staffList" [editData]="editData" (updateList)="updateList($event)" (closeModal)="cancel()"></app-add-customer>
    </ion-content>
  </ng-container>
  <ng-container  *ngIf="modelType=='REVIEW'">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons> -->
      
        <form [formGroup]="nextScheduleForm">
        <ion-label class="remark-side">
         <span class="remark-color"> Remark </span>&nbsp;&nbsp;
            NSD:
            <input type="date"  formControlName="next_lead_date" (change)="nextFollowupDate()" />
             
          

        </ion-label>
     </form>
        <ion-buttons slot="end">
          <ion-icon class="theme-color"  (click)="cancel()" name="close-circle-outline"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <app-add-remark [data]="customerSelected"></app-add-remark>
        </ion-content>
     
  </ng-container>
  <ng-container  *ngIf="modelType=='FOLLOW-UP'">
    <ion-header>
      <ion-toolbar>
        <!-- <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons> -->
        <ion-title>Next Follow-up</ion-title>
       
        <ion-buttons slot="end">
          <ion-icon class="theme-color"  (click)="cancel()" name="close-circle-outline"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="nextScheduleForm" class="ion-padding">
      <form [formGroup]="nextScheduleForm">
      <ion-datetime #datetimeId  (ionChange)="setDate(datetimeId.value)" presentation="date">
        <ion-buttons slot="buttons">
         
          <ion-button color="primary" >Schedule</ion-button>
        </ion-buttons>
      </ion-datetime>
    </form>
        </ion-content>
     
  </ng-container>
  </ng-template>

</ion-modal>

</ion-content>
