<ion-header>
    
  <ion-toolbar>
    <div class="left-margin">
    <ion-label >
      <h2>Total</h2>
      <p><b class="total-number">{{customerList?.length}}</b></p>
    </ion-label> 
  
  </div>
  
  <!-- <ion-label >
    <h2>D</h2>
    <p><b class="total-number">{{digital?.length}}</b></p>
  </ion-label> 
  <ion-label >
    <h2>O</h2>
    <p><b class="total-number">{{online?.length}}</b></p>
  </ion-label> 
  <ion-label >
    <h2>V</h2>
    <p><b class="total-number">{{visitors?.length}}</b></p>
  </ion-label>  -->
  <ion-button  class="button-theme" class="add-button" slot="end" (click)="refreshList()"  fill="outline"><ion-icon class="theme-color" name="refresh-outline" ></ion-icon></ion-button>
  
    <ion-button class="button-theme" class="add-button" slot="end" (click)="dataClear()" id="open-modal" expand="block" fill="outline"><ion-icon class="theme-color" name="person-add-outline" ></ion-icon></ion-button>
  </ion-toolbar>     
</ion-header>
<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content>
      
    </ion-refresher-content>
  </ion-refresher>
  
  <!-- <ion-searchbar [(ngModel)]="search" slot="fixed" placeholder="Search Customer"></ion-searchbar> -->
  
<ion-list *ngIf="customerList?.length && showData" >
  <ion-item *ngFor="let cus of customerList| searchItem : ['name','mobileNo'] : search">
    <ion-label>
    <h2>{{cus?.name}}</h2>
    <p>{{cus?.mobileNo}}-{{cus?.customerType}}</p>
  </ion-label>
    <!-- <ion-label>{{cus?.name}}</ion-label>
    <ion-label>{{cus?.mobileNo}}</ion-label> -->

    <ion-icon  *ngIf="cus?.customerType!=='ONLINE'" (click)="openEdit(cus)" class="right-margine theme-color" name="create-outline"></ion-icon>
  
    <ion-icon  class="right-margine theme-color-second"name="chatbubbles-outline"></ion-icon>
    <ion-icon  class="right-margine theme-color-third"name="reorder-three-outline"></ion-icon>
  </ion-item>


</ion-list>
<ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <!-- <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons> -->
        <ion-title>Add Customer</ion-title>
        <ion-buttons slot="end">
          <ion-icon class="theme-color"  (click)="cancel()" name="close-circle-outline"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
   <app-add-customer *ngIf="showAddComp" [editData]="editData" (closeModal)="cancel()"></app-add-customer>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>
